// variables
@primary      : #D91412;
@secondary    : #645353;
@msf-green    : #3D9282;
@msf-lightgreen    : rgba(61, 146, 130, 0.36);
@body-bg:#E6E9EE;

@import "bootstrap/bootstrap";
@import "style";
