@media print {
	.panel-default{
		.panel-heading {
			background: #3d9282 !important;
			-webkit-print-color-adjust: exact;
			
			.glyphicon{
				display:none !important;
			}
		}
	}
	.exp-coll-group .panel-default > .panel-heading {
		background-color: #afe6ee !important;
	}
	.panel-collapse{ 
		display:block!important; 
		height:auto !important;
	}


}