<table class="table table-bordered table-striped sortable" locked-table-header bind-event="click" freeze-first-column="true">
    <thead>

    <tr ng-repeat="columnConfiguration in table.columns">
        <th class="display-print"></th>
        <th ng-repeat="column in columnConfiguration"
            ng-click="column.sortable && sortByColumn(column)"
            ng-class="{ 'cursorPointer' : column.sortable }"
            colspan="{{ baseColumnConfiguration.length / columnConfiguration.length }}">
            <div ng-class="{ 'header-cell-with-weeks' : table.monthlyReport }">
                <span class="name">
                    {{ table.getDisplayName(column) }}
                    <p ng-if="column.periodDimension && table.monthlyReport" class="small weeks">{{ getNumberOfWeeksLabel(column.id) }}</p>
                </span>
                <span class="icon" ng-class="{ 'text-danger': column.sorted }" ng-if="column.sortable">
                    <i class="fa" ng-class="table.sortAscending ? 'fa-sort-asc' : 'fa-sort-desc'"></i>
                </span>
            </div>
        </th>
    </tr>

    </thead>
    <tbody>
    <tr ng-repeat="row in table.rows">
       <td>
           <a ng-if="row.dataDimension"
              id="rowLabel_{{row.rowNumber}}"
              class="changeColor"
              description-popup
              dp-title="{{ table.getDisplayName(row) }}"
              dp-desc="{{ row.description }}">
               {{  table.getDisplayName(row)  }}
           </a>
            <span ng-if="!row.dataDimension">
                {{  table.getDisplayName(row)  }}
            </span>
       </td>
        <td ng-repeat="column in baseColumnConfiguration" ng-class="{ 'info' : column.sorted }">
            <span ng-class="{ 'font-bold': column.sorted }">{{ table.getDataValue(row, column) }}</span>
        </td>
    </tr>
    </tbody>
</table>