<table class="table table-bordered table-striped sortable" locked-table-header freeze-first-column="true">
    <thead>
    <tr ng-repeat="header in headersForTable" ng-show="header.showHeader">
        <th class="display-print"></th>
        <th ng-repeat="item in header.headers" ng-show="periodBasedValues[item.period] !== undefined"
            colspan="{{ maxColumnsHeader.headers.length / header.headers.length}}">
            <div ng-class="{ 'header-cell-with-weeks' : showWeeks }">
                <span>{{ item.name }}</span>
                <p ng-if="$parent.$index == 0 && showWeeks" class="small weeks">[{{ item.numberOfISOWeeks + ' ' + resourceBundle.weeksLabel}}]</p>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="datum in viewMap | orderBy : orderBySortKeys">
        <td>
            <a id="elementId_{{$index}}"
               class="changeColor"
               description-popup
               dp-title="{{getDataElementName(datum.dataElementName)}}"
               dp-desc="{{datum.dataElementDescription}}">
                {{getDataElementName(datum.dataElementName)}}
            </a>
        </td>
        <td ng-repeat="item in maxColumnsHeader.headers" ng-show="periodBasedValues[item.period] !== undefined">
            <span> {{getValue(item.category, datum.dataElement, item.period)}}</span>
        </td>
    </tr>
    </tbody>
</table>