<table class="table table-bordered table-striped sortable" locked-table-header freeze-first-column="true">
    <thead>
    <tr ng-repeat="columnConfiguration in table.columns">
        <th class="display-print"></th>
        <th ng-repeat="column in columnConfiguration"
            colspan="{{ baseColumnConfiguration.length / columnConfiguration.length}}">
            <div ng-class="{ 'header-cell-with-weeks' : table.monthlyReport }">
                <span>{{ column.name }}</span>
                <p ng-if="column.periodDimension && table.monthlyReport" class="small weeks">{{ getNumberOfWeeksLabel(column.id) }}</p>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in table.rows">
        <td>
            <a ng-if="row.dataDimension"
               id="rowLabel_{{row.rowNumber}}"
               class="changeColor"
               description-popup
               dp-title="{{getDataDimensionName(row.name)}}"
               dp-desc="{{row.description}}">
                {{ getDataDimensionName(row.name) }}
            </a>
            <span ng-if="!row.dataDimension">
                {{ getDataDimensionName(row.name) }}
            </span>
        </td>
        <td ng-repeat="column in baseColumnConfiguration">
            <span>{{ getDataValue(row.dataValuesFilter, column.dataValuesFilter) }}</span>
        </td>
    </tr>
    </tbody>
</table>