<div  ng-controller="countryController">
	<div ng-show="saveFailure" class="alert alert-danger">{{ resourceBundle.errorCountry }}</div>
	<div class="panel panel-default">
  	<div class="panel-heading">

		<h3 ng-if="isEditMode" class="panel-title">Create Country</h3>		
		<h3 ng-if="!isEditMode" class="panel-title">Country Details</h3>
	</div>
	<div class="panel-body">
	<form name="createForm" class="form-horizontal" role="form" novalidate  ng-submit="save(newOrgUnit, orgUnit)">
		<ul>
			<li class="form-group">
				<label for="newOrgUnitName" class="col-sm-4 col-md-4 control-label">Name</label>
				<div class="col-sm-6" >
					<input ng-disabled="!isEditMode" type="text" class="form-control" name="newOrgUnitName" id="newOrgUnitName" ng-model="newOrgUnit.name" required not-in="allCountries" />
					<div ng-show="createForm.newOrgUnitName.$dirty &amp;&amp; createForm.newOrgUnitName.$invalid">
						<span ng-show="createForm.newOrgUnitName.$error.required"class="errortxt">{{resourceBundle.nameValidation}}</span>
						<span ng-show="createForm.newOrgUnitName.$error.isWithin" class="errortxt">{{resourceBundle.countryExists}}</span>
					</div>
				</div>
			</li>
			<li class="form-group">
				<label for="newOrgUnitOpeningDate" class="col-sm-4 col-md-4 control-label">Opening Date</label>

					<div class="col-sm-6 col-md-6">
						<p class="input-group">
						<input ng-disabled="!isEditMode" type="text" class="form-control" datepicker-popup="yyyy-MM-dd" id="newOrgUnitOpeningDate" name="newOrgUnitOpeningDate" ng-model="newOrgUnit.openingDate" is-open="openingDate" max-date="thisDate" close-text="Close" required/>
						<span class="input-group-btn">
						<button ng-disabled="!isEditMode" class="btn btn-default" ng-click="openOpeningDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						<div ng-show="createForm.newOrgUnitOpeningDate.$dirty &amp;&amp; createForm.newOrgUnitOpeningDate.$invalid">
							<span ng-show="createForm.newOrgUnitOpeningDate.$error.required"class="errortxt">{{resourceBundle.openingDateValidation}}</span>
						</div>
						</p>
					</div>
			</li>
			<li ng-if="isEditMode">
				<div class="col-sm-offset-4 col-sm-6 col-md-offset-4 col-md-6">
				<input type="submit" class="btn btn-main" ng-disabled="createForm.$invalid" value="Save"/>
				<input type="button" class="btn btn-default" ng-click="reset()" value="Reset">
			</div>
			</li>
		</ul>
	</form>
	</div>
</div>
</div>