<section class="panel tab-panel">
	<div ng-show="resultMessageType === 'success'" class="alert alert-success">{{resultMessage}}</div>
	<div ng-show="resultMessageType === 'failure'" class="alert alert-danger">{{resultMessage}}</div>
	<form name="editEventDataEntryForm" id="editEventDataEntryForm" class="form-horizontal">
		<accordion close-others="false">
			<accordion-group is-open="true">
				<accordion-heading>
					<span ng-if="resourceBundle[program.id]">{{ resourceBundle[eventToBeEdited.program.id] }}</span> 
					<span ng-if="!resourceBundle[program.id]">{{ eventToBeEdited.program.name }}</span> 
				</accordion-heading>
				<div class="exp-coll-group" ng-repeat="programStage in eventToBeEdited.program.programStages">
                    <accordion close-others="false">
                        <ul>
                            <li class="form-group">
                                <label for="eventDate" class="col-sm-4 col-md-4 control-label">{{ resourceBundle["lineListEventDate"] }}</label>
                                <div class="col-sm-6 col-md-6">
                                    <input name="eventDate" type="date" class="form-control" ng-model="eventToBeEdited.eventDate" required min="{{minDateInCurrentPeriod}}" max="{{maxDateInCurrentPeriod}}"/>
                                </div>
                            </li>
                        </ul>
                        <accordion-group ng-repeat="section in programStage.programStageSections" is-open="true">
                            <accordion-heading>
                                <span ng-if="resourceBundle[section.id]">{{ resourceBundle[section.id] }}</span>
                                <span ng-if="!resourceBundle[section.id]">{{ section.name }}</span>
                            </accordion-heading>
                            <ul>
                                <li class="form-group" ng-repeat="de in section.programStageDataElements">
                                    <label for="eventValue_{{eventToBeEdited.program.id}}_{{programStage.id}}_{{de.dataElement.id}}" class="col-sm-4 col-md-4 control-label" ng-if="resourceBundle[de.dataElement.id]">{{ resourceBundle[de.dataElement.id] }}</label>
                                    <label for="eventValue_{{eventToBeEdited.program.id}}_{{programStage.id}}_{{de.dataElement.id}}" class="col-sm-4 col-md-4 control-label" ng-if="!resourceBundle[de.dataElement.id]"> {{ de.dataElement.formName }}</label>
                                    <div class="col-sm-6 col-md-6">
                                        <input type="text" class="form-control" ng-if="de.dataElement.type === 'string' &amp;&amp; !de.dataElement.optionSet" ng-model="eventToBeEdited.dataElementValues[de.dataElement.id]" name="eventValue_{{eventToBeEdited.program.id}}_{{programStage.id}}_{{de.dataElement.id}}" ng-required= "de.compulsory"/>
                                        <input type="number" class="form-control" ng-if="de.dataElement.type === 'int' &amp;&amp; !de.dataElement.optionSet" ng-model="eventToBeEdited.dataElementValues[de.dataElement.id]" name="eventValue_{{eventToBeEdited.program.id}}_{{programStage.id}}_{{de.dataElement.id}}" ng-required= "de.compulsory" ng-pattern = "numberPattern"/>
                                        <input type="date" class="form-control" ng-if="de.dataElement.type === 'date' &amp;&amp; !de.dataElement.optionSet" ng-model="eventToBeEdited.dataElementValues[de.dataElement.id]" name="eventValue_{{eventToBeEdited.program.id}}_{{programStage.id}}_{{de.dataElement.id}}" ng-required= "de.compulsory"/>
                                        <div ng-if="de.dataElement.type === 'bool' &amp;&amp; !de.dataElement.optionSet" class="col-sm-8 col-md-8 form-inline">
				                            <div class="radio-inline">
				                                <label for="Yes"> 
				                                	<input type="radio" ng-model="eventToBeEdited.dataElementValues[de.dataElement.id]" value="true" ng-required= "de.compulsory"> {{resourceBundle.yes}} 
				                                </label>
				                            </div>
				                            <div class="radio-inline">
				                                <label for="No"> 
				                                	<input type="radio" ng-model="eventToBeEdited.dataElementValues[de.dataElement.id]" value="false" ng-required= "de.compulsory"> {{resourceBundle.no}} 
				                                </label>
				                            </div>
				                        </div>
                                        <select ng-options="o.code as o.displayName for o in getOptionsFor(de.dataElement.optionSet.id)" ng-if="de.dataElement.optionSet" ng-model="eventToBeEdited.dataElementValues[de.dataElement.id]" name="eventValue_{{eventToBeEdited.program.id}}_{{programStage.id}}_{{de.dataElement.id}}" ng-required= "de.compulsory">
                                            <option value=""></option>
                                        </select>
                                        <div ng-show="editEventDataEntryForm.eventValue_{{eventToBeEdited.program.id}}_{{programStage.id}}_{{de.dataElement.id}}.$dirty &amp;&amp; editEventDataEntryForm.eventValue_{{eventToBeEdited.program.id}}_{{programStage.id}}_{{de.dataElement.id}}.$invalid">
			                                <span class="errortxt" ng-show="editEventDataEntryForm.eventValue_{{eventToBeEdited.program.id}}_{{programStage.id}}_{{de.dataElement.id}}.$error.required"> {{de.dataElement.formName}} {{resourceBundle.required}}</span>
                                            <span class="errortxt" ng-show="editEventDataEntryForm.eventValue_{{eventToBeEdited.program.id}}_{{programStage.id}}_{{de.dataElement.id}}.$error.date"> {{resourceBundle.dateInvalid}}</span>
			                                <span class="errortxt" ng-show="editEventDataEntryForm.eventValue_{{eventToBeEdited.program.id}}_{{programStage.id}}_{{de.dataElement.id}}.$error.pattern"> {{de.dataElement.formName}} {{resourceBundle.invalidPattern}}</span>
			                            </div>
                                    </div>
                                </li>
                            </ul>
                        </accordion-group>
                    </accordion>
                    <ul>
                    	<li>
                    		<div class="text-center">
                    			<input type="button" class="btn btn-main" value="Update Case" ng-click="update(programStage)" ng-disabled="editEventDataEntryForm.$invalid"/>
                    			<input type="button" class="btn btn-main" value="Cancel" ng-click="closeEditForm()" />
	                        </div>
                    	</li>
                    </ul>
                </div>
			</accordion-group>
		</accordion>
	</form>		
</section>
</div>
