<div ng-controller="lineListDataEntryController">
<div class="loading" ng-show="loading">
     <img src="img/ajax-loader.gif" class="spinner" />
</div>
<section class="panel tab-panel">
	<accordion close-others="false">
		<accordion-group ng-repeat="program in programs" is-open="true">
			<accordion-heading>
				{{program.name}}
			</accordion-heading>
			<div ng-repeat="programStage in program.programStages">
			<ul>
				<li ng-repeat="de in programStage.programStageDataElements">
					{{de.dataElement.formName}}
					<input type="text" ng-if="de.dataElement.type === 'string' &amp;&amp; !de.dataElement.optionSet" ng-model="getNgModelFor(dataValues, program.id, programStage.id)[de.dataElement.id]" />
					<input type="number" ng-if="de.dataElement.type === 'int' &amp;&amp; !de.dataElement.optionSet" ng-model="getNgModelFor(dataValues, program.id, programStage.id)[de.dataElement.id]" />
					<input type="date" ng-if="de.dataElement.type === 'date' &amp;&amp; !de.dataElement.optionSet" ng-model="getNgModelFor(dataValues, program.id, programStage.id)[de.dataElement.id]" />
					<select ng-options="o.name as o.name for o in getOptionsFor(de.dataElement.optionSet.id)" ng-if="de.dataElement.optionSet" ng-model="getNgModelFor(dataValues, program.id, programStage.id)[de.dataElement.id]">
						<option value=""></option>
					</select>
				</li>
			</ul>
			<input type="button" value="Submit" ng-click="submit(program.id, programStage.id)" />
			</div>
		</accordion-group>
	</accordion>
</section>
</div>