<div ng-controller="lineListDataEntryController">
<div class="loading" ng-show="loading">
     <img src="img/ajax-loader.gif" class="spinner" />
</div>
<section class="panel tab-panel">
	<accordion close-others="false">
		<accordion-group ng-repeat="program in programs" is-open="true">
			<accordion-heading>
				<span ng-if="resourceBundle[program.id]">{{ resourceBundle[program.id] }}</span> 
				<span ng-if="!resourceBundle[program.id]">{{ program.name }}</span> 
			</accordion-heading>

			<div ng-repeat="programStage in program.programStages">
				<accordion close-others="false">
					<accordion-group ng-repeat="section in programStage.programStageSections" is-open="true">
						<accordion-heading>
							<span ng-if="resourceBundle[section.id]">{{ resourceBundle[section.id] }}</span> 
							<span ng-if="!resourceBundle[section.id]">{{ section.name }}</span> 
						</accordion-heading>
						<ul>
							<li>
								{{ resourceBundle["lineListEventDate"] }}
								<input type="date" ng-model="getEventDateNgModel(eventDates, program.id, programStage.id)[programStage.id]" required min="{{minDateInCurrentPeriod}}" max="{{maxDateInCurrentPeriod}}" />
							</li>
							<li ng-repeat="de in section.programStageDataElements">
								<span ng-if="resourceBundle[de.dataElement.id]"> {{ resourceBundle[de.dataElement.id] }}</span> 
								<span ng-if="!resourceBundle[de.dataElement.id]"> {{ de.dataElement.formName }}</span> 
								<input type="text" ng-if="de.dataElement.type === 'string' &amp;&amp; !de.dataElement.optionSet" ng-model="getDataValueNgModel(dataValues, program.id, programStage.id)[de.dataElement.id]" />
								<input type="number" ng-if="de.dataElement.type === 'int' &amp;&amp; !de.dataElement.optionSet" ng-model="getDataValueNgModel(dataValues, program.id, programStage.id)[de.dataElement.id]" />
								<input type="date" ng-if="de.dataElement.type === 'date' &amp;&amp; !de.dataElement.optionSet" ng-model="getDataValueNgModel(dataValues, program.id, programStage.id)[de.dataElement.id]" />
								<select ng-options="o.name as o.displayName for o in getOptionsFor(de.dataElement.optionSet.id)" ng-if="de.dataElement.optionSet" ng-model="getDataValueNgModel(dataValues, program.id, programStage.id)[de.dataElement.id]">
									<option value=""></option>
								</select>
							</li>
						</ul>
					</accordion-group>
				</accordion>
			
			<input type="button" value="Save" ng-click="submit(true)" />
			<input type="button" value="Submit" ng-click="submit(false)" />
			</div>
		</accordion-group>
	</accordion>
	<div ng-repeat="event in allEvents">
		{{event.event}}
	</div>
</section>
</div>