<div class="panel panel-default panelWith-Overflow-Visible" ng-controller="lineListModuleController">
    <div class="loading" ng-show="loading">
        <img src="img/ajax-loader.gif" class="spinner" />
    </div>
    <div ng-show="saveFailure" class="alert alert-danger">{{ resourceBundle.errorModule }}</div>
    <div class="panel-heading">
        <h3 class="panel-title">{{ resourceBundle.moduleDetailsLabel }}</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="form" role="form" novalidate>
            <div class="well">
                <ul>
                    <li class="form-group">
                        <label for="moduleName" class="col-sm-4 col-md-4 control-label required">{{ resourceBundle.moduleNameLabel }}</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="moduleName{{$index}}" id="moduleName{{$index}}" placeholder="{{ resourceBundle.moduleNameLabel }}" ng-model="module.name" not-in="allModules" ng-disabled="isDisabled==true" required>
                            <div ng-show="form.moduleName{{$index}}.$dirty &amp;&amp; form.moduleName{{$index}}.$invalid">
                                <span class="errortxt" ng-show="form.moduleName{{$index}}.$error.required">{{resourceBundle.nameValidation}}</span>
                                <span class="errortxt" ng-show="form.moduleName{{$index}}.$error.isWithin">{{resourceBundle.alreadyExists}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="form-group">
                        <label for="moduleOpeningDate" class="col-sm-4 col-md-4 control-label required">{{ resourceBundle.openingDateLabel }}</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="date" name="moduleOpeningDate" ng-model="module.openingDate" ng-disabled="isDisabled==true" max="9999-12-31" required>
                            <div ng-show="form.moduleOpeningDate.$dirty &amp;&amp; form.moduleOpeningDate.$invalid">
                                <span ng-show="form.moduleOpeningDate.$error.required" class="errortxt">{{resourceBundle.openingDateValidation}}</span>
                                <span ng-show="form.moduleOpeningDate.$invalid" class="errortxt">{{resourceBundle.invalidDateError}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="form-group">
                        <label for="program" class="col-sm-4 col-md-4 control-label required">{{resourceBundle.selectProgramLabel}}</label>
                        <div class="col-sm-6 col-md-6">
                            <div disable-input="!isNewMode"
                                 angucomplete-alt=""
                                 name="program"
                                 form-name="form"
                                 id="ex9"
                                 placeholder="{{ resourceBundle.startTypingLabel }}"
                                 pause="100"
                                 selected-object="onProgramSelect"
                                 local-data="allPrograms"
                                 search-fields="name"
                                 title-field="name"
                                 minlength="0"
                                 input-class="form-control form-control-small"
                                 match-class="highlight"
                                 field-required="true"
                                 initial-value="{{program.name}}"
                                 class="ng-isolate-scope">
                            </div>
                        </div>
                        <div>
                        </div>
                    </li>
                    <li class="form-group" ng-if="program.name">
                        <div class="col-sm-12">
                            <section class="module-details">
                                <div class="details">
                                    <div ng-repeat="programStage in enrichedProgram.programStages" ng-if="enrichedProgram !== undefined">
                                        <div ng-repeat="section in programStage.programStageSections">
                                            <div class="collapse-head">
                                                <h5 ng-click="changeCollapsed(section.id)">{{section.name}}</h5>
                                            </div>
                                            <div collapse="getCollapsed(section.id)" class="collapse-body">
                                                <ul>
                                                    <li ng-repeat="de in section.dataElementsWithOptions" ng-init="de.dataElement.isDataElementExpanded = false">
                                                        <div class="collapse-head">
                                                            <h5 ng-click="de.dataElement.isDataElementExpanded = !de.dataElement.isDataElementExpanded">
                                                            <span class="glyphicon"
                                                                  ng-class="{'glyphicon-chevron-right':!de.dataElement.isDataElementExpanded, 'glyphicon-chevron-down':de.dataElement.isDataElementExpanded}" aria-hidden="true"></span>  {{ de.dataElement.formName}}
                                                                <a class="description-popup-icon grey"
                                                                   description-popup
                                                                   dp-title="{{ de.dataElement.formName }}"
                                                                   dp-desc="{{ de.dataElement.description }}">
                                                                    <i class="fa fa-info-circle"
                                                                       tooltip-placement="top"></i>
                                                                </a>
                                                            <input type="checkbox"
                                                                   ng-disabled="de.compulsory || isDisabled==true"
                                                                   ng-model="de.dataElement.isIncluded"
                                                                   ng-click="stopPropagation($event)" />
                                                            </h5>
                                                        </div>
                                                        <div collapse="!de.dataElement.isDataElementExpanded" class="collapse-body" ng-class="{'disabled': !de.dataElement.isIncluded}">
                                                            <ul>
                                                                <li ng-repeat="option in de.dataElement.optionSet.options">
                                                                    <label>
                                                                        <input type="checkbox" ng-model="option.isSelected" ng-change="onOptionSelectionChange(de.dataElement.optionSet, option)">
                                                                            {{ option.name}}
                                                                    </label>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </li>
                                                    <li ng-repeat="de in section.dataElementsWithoutOptions">
                                                        <div class = "description-popup">
                                                        <label>
                                                            <input type="checkbox"
                                                                   ng-disabled="de.compulsory || isDisabled==true"
                                                                   ng-model="de.dataElement.isIncluded">
                                                            <label dp-title="{{ de.dataElement.formName }}">
                                                                {{ de.dataElement.formName }}
                                                            </label>
                                                            <a class="description-popup-icon grey"
                                                               description-popup
                                                               dp-title="{{ de.dataElement.formName }}"
                                                               dp-desc="{{ de.dataElement.description }}"
                                                            >
                                                                <i class="fa fa-info-circle"
                                                                   tooltip-placement="top"></i>
                                                            </a>
                                                        </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-offset-4 col-sm-6 col-md-offset-4 col-md-6 button-group">
                <input type="button" class="btn btn-main" ng-click="save(module)" ng-disabled="form.$invalid || shouldDisableSaveOrUpdateButton()" value="{{ resourceBundle.saveBtnValue }}" ng-if="isNewMode" />
                <input type="button" class="btn btn-main" ng-click="update(module)" ng-disabled="form.$invalid || shouldDisableSaveOrUpdateButton() || isDisabled==true || !form.$dirty" value="{{ resourceBundle.updateBtnValue }}" ng-if="!isNewMode &amp;&amp; !(isDisabled==true)" />
                <input type="button" class="btn" ng-click="disable(module)" value="{{ resourceBundle.disableBtnValue }}" ng-if="!isNewMode &amp;&amp; !updateDisabled &amp;&amp; !(isDisabled==true)" />
                <input type="button" class="btn" ng-if="isNewMode" ng-click="closeForm()" value="{{ resourceBundle.backBtnValue }}" />
            </div>
        </form>
    </div>
</div>
