<div ng-controller="lineListOfflineApprovalController">
    <section class="panel tab-panel">
        <div class="alert alert-danger" ng-hide="showOfflineSummaryForViewOnly || (showFilters &amp;&amp; ((isCompleted &amp;&amp; hasRoles(['Coordination Level Approver','Observer'])) || (hasRoles(['Project Level Approver','Observer'])) ))">{{resourceBundle.noDataForApproval}}</div>
        <div class="alert alert-info" ng-show="showOfflineSummaryForViewOnly &amp;&amp; !showFilters"> {{ resourceBundle.noCasesToSummarize}}</div>
        <div ng-show="isCompleted &amp;&amp; !isApproved &amp;&amp; !hasRoles(['Coordination Level Approver'])" class="alert alert-success">{{resourceBundle.firstLevelApproveSuccess}}</div>
        <div ng-show="!showOfflineSummaryForViewOnly &amp;&amp; isApproved &amp;&amp; !submitAndApprovalSuccess" class="alert alert-success">{{resourceBundle.secondLevelApproveSuccess}}</div>
        <div ng-show="!showOfflineSummaryForViewOnly &amp;&amp; approveError" class="alert alert-danger">{{resourceBundle.dataApproveFailure}}</div>
        <div ng-if="showFilters &amp;&amp; (showOfflineSummaryForViewOnly || (isCompleted &amp;&amp; hasRoles(['Coordination Level Approver','Observer'])) || (hasRoles(['Project Level Approver','Observer'])) )">
            <accordion close-others="false">
                <div ng-class="'dataset-acc-wrapper'">
                    <accordion-group ng-repeat="dataSet in associatedDataSets | filter:{ isOriginDataset: false }" is-open="true">
                        <accordion-heading>
                            <span>{{ resourceBundle[dataSet.id] || dataSet.name}}</span>
                            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isDatasetOpen[dataSet.id], 'glyphicon-chevron-right': !isDatasetOpen[dataSet.id]}"></i>
                        </accordion-heading>
                        <div class="filter">
                            <label>{{resourceBundle.filterBy}}</label>
                            <div class="checkbox-inline">
                                <label>
                                    <input type="checkbox" ng-model="isGenderFilterApplied" />{{resourceBundle.gender}}</label>
                            </div>
                            <div class="checkbox-inline">
                                <label>
                                    <input type="checkbox" ng-model="isAgeFilterApplied" />{{resourceBundle.age}}</label>
                            </div>
                        </div>
                        <div class="exp-coll-group" ng-if="!isGenderFilterApplied &amp;&amp; !isAgeFilterApplied">
                            <accordion close-others="false">
                                <div ng-repeat="programStage in program.programStages" ng-class="'dataset-acc-wrapper'">
                                    <div ng-repeat="section in programStage.programStageSections | orderBy: 'sortOrder'">
                                        <div ng-repeat="psde in section.programStageDataElements">
                                            <div class="spacing-div-accordian" class="spacing-div-accordian" ng-if="shouldShowInOfflineSummary(psde.dataElement.id, section.programStageDataElements) && psde.dataElement.isIncluded">
                                                <accordion-group is-open="status.open">
                                                    <accordion-heading>
                                                        <span>{{resourceBundle[psde.dataElement.id] || psde.dataElement.formName}}</span>
                                                        <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                                    </accordion-heading>
                                                    <table locked-table-header class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>{{resourceBundle.optionName}}</th>
                                                                <th>{{resourceBundle.numberOfEvents}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tr ng-repeat="option in optionSetMapping[psde.dataElement.optionSet.id]">
                                                            <td>{{option.displayName}}</td>
                                                            <td>{{getCount(psde.dataElement.id,isGenderFilterApplied,isAgeFilterApplied, option.id)}}</td>
                                                        </tr>
                                                    </table>
                                                </accordion-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </accordion>
                            <div class="offlineProcedure" ng-if="shouldShowProceduresInOfflineSummary()">
                                <accordion close-others="false">
                                    <accordion-group>
                                        <accordion-heading>
                                            <span>{{resourceBundle.proceduresPerformed}}</span>
                                            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                        </accordion-heading>
                                        <table locked-table-header class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>{{resourceBundle.optionName}}</th>
                                                    <th>{{resourceBundle.numberOfEvents}}</th>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="pdv in procedureOptions">
                                                <td>{{optionMapping[pdv.id]}}</td>
                                                <td>{{getProcedureCount(isGenderFilterApplied,isAgeFilterApplied, pdv.id)}}</td>
                                            </tr>
                                        </table>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                        <div class="exp-coll-group" ng-if="isGenderFilterApplied &amp;&amp; !isAgeFilterApplied">
                            <accordion close-others="false">
                                <div ng-repeat="programStage in program.programStages">
                                    <div ng-repeat="section in programStage.programStageSections | orderBy: 'sortOrder'">
                                        <div ng-repeat="psde in section.programStageDataElements">
                                            <div class="spacing-div-accordian" ng-if="shouldShowInOfflineSummary(psde.dataElement.id, section.programStageDataElements) && psde.dataElement.isIncluded">
                                                <accordion-group is-open="status.open">
                                                    <accordion-heading>
                                                        <span>{{psde.dataElement.formName}}</span>
                                                        <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                                    </accordion-heading>
                                                    <table locked-table-header class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>{{resourceBundle.optionName}}</th>
                                                                <th ng-repeat="genderOption in genderOptions"> {{genderOption.displayName}}
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tr ng-repeat="option in optionSetMapping[psde.dataElement.optionSet.id]">
                                                            <td>{{option.displayName}}</td>
                                                            <td ng-repeat="genderOption in genderOptions">{{getCount(psde.dataElement.id,isGenderFilterApplied,isAgeFilterApplied, option.id, genderOption.id)}}</td>
                                                        </tr>
                                                    </table>
                                                </accordion-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </accordion>
                            <div class="offlineProcedure" ng-if="shouldShowProceduresInOfflineSummary()">
                                <accordion close-others="false">
                                    <accordion-group is-open="status.open">
                                        <accordion-heading>
                                            <span>{{resourceBundle.proceduresPerformed}}</span>
                                            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                        </accordion-heading>
                                        <table locked-table-header class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>{{resourceBundle.optionName}}</th>
                                                    <th ng-repeat="genderOption in genderOptions"> {{genderOption.displayName}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="pdv in procedureOptions">
                                                <td>{{optionMapping[pdv.id]}}</td>
                                                <td ng-repeat="genderOption in genderOptions">{{getProcedureCount(isGenderFilterApplied,isAgeFilterApplied, pdv.id, genderOption.id)}}</td>
                                            </tr>
                                        </table>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                        <div class="exp-coll-group" ng-if="isAgeFilterApplied &amp;&amp; !isGenderFilterApplied">
                            <accordion close-others="false">
                                <div ng-repeat="programStage in program.programStages">
                                    <div ng-repeat="section in programStage.programStageSections | orderBy: 'sortOrder'">
                                        <div ng-repeat="psde in section.programStageDataElements">
                                            <div class="spacing-div-accordian" ng-if="shouldShowInOfflineSummary(psde.dataElement.id, section.programStageDataElements) && psde.dataElement.isIncluded">
                                                <accordion-group is-open="status.open">
                                                    <accordion-heading>
                                                        <span>{{psde.dataElement.formName}}</span>
                                                        <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                                    </accordion-heading>
                                                    <table locked-table-header class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>{{resourceBundle.optionName}}</th>
                                                                <th>{{resourceBundle.lessThanFive}}</th>
                                                                <th>{{resourceBundle.fiveToFourtenn}}</th>
                                                                <th>{{resourceBundle.greaterThanFifteen}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tr ng-repeat="option in optionSetMapping[psde.dataElement.optionSet.id]">
                                                            <td>{{option.displayName}}</td>
                                                            <td>{{getCount(psde.dataElement.id,isGenderFilterApplied,isAgeFilterApplied, option.code, undefined, [0,5])}}</td>
                                                            <td>{{getCount(psde.dataElement.id,isGenderFilterApplied,isAgeFilterApplied, option.code, undefined, [4,15])}}</td>
                                                            <td>{{getCount(psde.dataElement.id,isGenderFilterApplied,isAgeFilterApplied, option.code, undefined, [14, 9999])}}</td>
                                                        </tr>
                                                    </table>
                                                </accordion-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </accordion>
                            <div class="offlineProcedure" ng-if="shouldShowProceduresInOfflineSummary()">
                                <accordion close-others="false">
                                    <accordion-group is-open="status.open">
                                        <accordion-heading>
                                            <span>{{resourceBundle.proceduresPerformed}}</span>
                                            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                        </accordion-heading>
                                        <table locked-table-header class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>{{resourceBundle.optionName}}</th>
                                                    <th>{{resourceBundle.lessThanFive}}</th>
                                                    <th>{{resourceBundle.fiveToFourtenn}}</th>
                                                    <th>{{resourceBundle.greaterThanFifteen}}</th>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="pdv in procedureOptions">
                                                <td>{{optionMapping[pdv.id]}}</td>
                                                <td>{{getProcedureCount(isGenderFilterApplied,isAgeFilterApplied, pdv.id, undefined,[0,5])}}</td>
                                                <td>{{getProcedureCount(isGenderFilterApplied,isAgeFilterApplied, pdv.id, undefined,[4,15])}}</td>
                                                <td>{{getProcedureCount(isGenderFilterApplied,isAgeFilterApplied, pdv.id, undefined,[14, 9999])}}</td>
                                            </tr>
                                        </table>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                        <div class="exp-coll-group" ng-if="isAgeFilterApplied &amp;&amp; isGenderFilterApplied">
                            <accordion close-others="false">
                                <div ng-repeat="programStage in program.programStages">
                                    <div ng-repeat="section in programStage.programStageSections | orderBy: 'sortOrder'">
                                        <div ng-repeat="psde in section.programStageDataElements">
                                            <div class="spacing-div-accordian" ng-if="shouldShowInOfflineSummary(psde.dataElement.id, section.programStageDataElements) && psde.dataElement.isIncluded">
                                                <accordion-group is-open="status.open">
                                                    <accordion-heading>
                                                        <span>{{psde.dataElement.formName}}</span>
                                                        <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                                    </accordion-heading>
                                                    <table locked-table-header class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th rowspan="2">{{resourceBundle.optionName}}</th>
                                                                <th colspan="3" ng-repeat="genderOption in genderOptions"> {{genderOption.displayName}}
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <th>{{resourceBundle.lessThanFive}}</th>
                                                                <th>{{resourceBundle.fiveToFourtenn}}</th>
                                                                <th>{{resourceBundle.greaterThanFifteen}}</th>
                                                                <th>{{resourceBundle.lessThanFive}}</th>
                                                                <th>{{resourceBundle.fiveToFourtenn}}</th>
                                                                <th>{{resourceBundle.greaterThanFifteen}}</th>
                                                                <th>{{resourceBundle.lessThanFive}}</th>
                                                                <th>{{resourceBundle.fiveToFourtenn}}</th>
                                                                <th>{{resourceBundle.greaterThanFifteen}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tr ng-repeat="option in optionSetMapping[psde.dataElement.optionSet.id]">
                                                            <td>{{option.displayName}}</td>
                                                            <td>{{getCount(psde.dataElement.id,isGenderFilterApplied,isAgeFilterApplied, option.code,genderOptions[0].id, [0,5])}}</td>
                                                            <td>{{getCount(psde.dataElement.id,isGenderFilterApplied,isAgeFilterApplied, option.code,genderOptions[0].id, [4,15])}}</td>
                                                            <td>{{getCount(psde.dataElement.id,isGenderFilterApplied,isAgeFilterApplied, option.code,genderOptions[0].id, [14, 9999])}}</td>
                                                            <td>{{getCount(psde.dataElement.id,isGenderFilterApplied,isAgeFilterApplied, option.code,genderOptions[1].id, [0,5])}}</td>
                                                            <td>{{getCount(psde.dataElement.id,isGenderFilterApplied,isAgeFilterApplied, option.code,genderOptions[1].id, [4,15])}}</td>
                                                            <td>{{getCount(psde.dataElement.id,isGenderFilterApplied,isAgeFilterApplied, option.code,genderOptions[1].id, [14, 9999])}}</td>
                                                            <td>{{getCount(psde.dataElement.id,isGenderFilterApplied,isAgeFilterApplied, option.code,genderOptions[2].id, [0,5])}}</td>
                                                            <td>{{getCount(psde.dataElement.id,isGenderFilterApplied,isAgeFilterApplied, option.code,genderOptions[2].id, [4,15])}}</td>
                                                            <td>{{getCount(psde.dataElement.id,isGenderFilterApplied,isAgeFilterApplied, option.code,genderOptions[2].id, [14, 9999])}}</td>
                                                        </tr>
                                                    </table>
                                                </accordion-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </accordion>
                            <div class="offlineProcedure" ng-if="shouldShowProceduresInOfflineSummary()">
                                <accordion close-others="false">
                                    <accordion-group is-open="status.open">
                                        <accordion-heading>
                                            <span>{{resourceBundle.proceduresPerformed}}</span>
                                            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                        </accordion-heading>
                                        <table locked-table-header class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2">{{resourceBundle.optionName}}</th>
                                                    <th colspan="3" ng-repeat="genderOption in genderOptions"> {{genderOption.displayName}}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>{{resourceBundle.lessThanFive}}</th>
                                                    <th>{{resourceBundle.fiveToFourtenn}}</th>
                                                    <th>{{resourceBundle.greaterThanFifteen}}</th>
                                                    <th>{{resourceBundle.lessThanFive}}</th>
                                                    <th>{{resourceBundle.fiveToFourtenn}}</th>
                                                    <th>{{resourceBundle.greaterThanFifteen}}</th>
                                                    <th>{{resourceBundle.lessThanFive}}</th>
                                                    <th>{{resourceBundle.fiveToFourtenn}}</th>
                                                    <th>{{resourceBundle.greaterThanFifteen}}</th>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="pdv in procedureOptions">
                                                <td>{{optionMapping[pdv.id]}}</td>
                                                <td>{{getProcedureCount(isGenderFilterApplied,isAgeFilterApplied, pdv.id,genderOptions[0].id, [0,5])}}</td>
                                                <td>{{getProcedureCount(isGenderFilterApplied,isAgeFilterApplied, pdv.id,genderOptions[0].id, [4,15])}}</td>
                                                <td>{{getProcedureCount(isGenderFilterApplied,isAgeFilterApplied, pdv.id,genderOptions[0].id, [14, 9999])}}</td>
                                                <td>{{getProcedureCount(isGenderFilterApplied,isAgeFilterApplied, pdv.id,genderOptions[1].id, [0,5])}}</td>
                                                <td>{{getProcedureCount(isGenderFilterApplied,isAgeFilterApplied, pdv.id,genderOptions[1].id, [4,15])}}</td>
                                                <td>{{getProcedureCount(isGenderFilterApplied,isAgeFilterApplied, pdv.id,genderOptions[1].id, [14, 9999])}}</td>
                                                <td>{{getProcedureCount(isGenderFilterApplied,isAgeFilterApplied, pdv.id,genderOptions[2].id, [0,5])}}</td>
                                                <td>{{getProcedureCount(isGenderFilterApplied,isAgeFilterApplied, pdv.id,genderOptions[2].id, [4,15])}}</td>
                                                <td>{{getProcedureCount(isGenderFilterApplied,isAgeFilterApplied, pdv.id,genderOptions[2].id, [14, 9999])}}</td>
                                            </tr>
                                        </table>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </accordion-group>
                </div>
                <div ng-class="'dataset-acc-wrapper'">
                    <accordion-group ng-repeat="dataSet in associatedDataSets | filter:{ isOriginDataset: true }" is-open="true">
                        <accordion-heading>
                            <span>{{ resourceBundle[dataSet.id] || dataSet.name}}</span>
                            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isDatasetOpen[dataSet.id], 'glyphicon-chevron-right': !isDatasetOpen[dataSet.id]}"></i>
                        </accordion-heading>
                        <div class="exp-coll-group">
                            <accordion close-others="false">
                                <accordion-group is-open="origins.open">
                                    <accordion-heading>
                                        <span>{{resourceBundle.originsCountTitle}}</span>
                                        <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': origins.open, 'glyphicon-chevron-right': !origins.open}"></i>
                                    </accordion-heading>
                                    <table locked-table-header class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th> {{resourceBundle.originName}} </th>
                                                <th> {{resourceBundle.countLabel}} </th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="(originId, originName) in originMap">
                                            <td>{{originName}}</td>
                                            <td>{{originEvents[originId].length || 0}}</td>
                                        </tr>
                                    </table>
                                </accordion-group>
                            </accordion>
                        </div>
                    </accordion-group>
                </div>
            </accordion>
            <div class="offlineProcedure" ng-if="shouldShowReferrals">
                <accordion close-others="false">
                    <div ng-class="'dataset-acc-wrapper'">
                        <accordion-group is-open="status.open">
                            <accordion-heading>
                                <span>{{ resourceBundle.referralLocationLabel }}</span>
                                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </accordion-heading>
                            <table locked-table-header class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>{{resourceBundle.locationLabel}}</th>
                                        <th>{{resourceBundle.countLabel}}</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="name in locationNames">
                                    <td>{{name}}</td>
                                    <td>{{getReferralCount(name)}}</td>
                                </tr>
                            </table>
                        </accordion-group>
                    </div>
                </accordion>
            </div>
            <div>
                <input type="button" class="btn btn-primary" ng-click="firstLevelApproval()" ng-disabled="isCompleted" ng-if="hasRoles(['Project Level Approver'])" value="{{resourceBundle.approveBtnValue}}" />
                <input type="button" class="btn btn-primary" ng-click="secondLevelApproval()" ng-disabled="isApproved" ng-if="hasRoles(['Coordination Level Approver'])" value="{{resourceBundle.approveBtnValue}}" />
            </div>
        </div>
    </section>
</div>
