<div ng-controller="lineListSummaryController">
    <div class="loading" ng-show="loading">
        <img src="img/ajax-loader.gif" class="spinner" />
    </div>
    <section class="panel tab-panel">
        <div ng-show="resultMessageType === 'success'" class="alert alert-success">{{ resultMessage }}</div>
        <div ng-show="resultMessageType === 'failure'" class="alert alert-danger">{{ resultMessage }}</div>
        <div ng-if="!eventForm.showEventForm">
            <form name="eventSummaryForm" id="eventSummaryForm" class="form-horizontal">
                <accordion close-others="false">
                    <accordion-group is-open="true">
                        <accordion-heading>
                            <span ng-if="resourceBundle[program.id]">{{ resourceBundle[program.id] }}</span>
                            <span ng-if="!resourceBundle[program.id]">{{ program.name }}</span>
                        </accordion-heading>
                        <div ng-if="eventForm.allEvents.length === 0">
                            <div class="alert alert-success">{{ resourceBundle.noCasesLabel }}<a ng-click="loadEventDataEntryForm()" ng-if="isDataEntryAllowed()">{{ resourceBundle.addNewCaseLabel }}</a>
                            </div>
                        </div>
                        <div ng-if="eventForm.allEvents.length &gt; 0">
                            <ul ng-if="isDataEntryAllowed()">
                                <li>
                                    <div class="text-right">
                                        <input type="button" class="btn btn-main" value="New Case" ng-click="loadEventDataEntryForm()" />
                                    </div>
                                </li>
                            </ul>
                            <div class="panel-heading">
                                <h3 class="panel-title"><a>{{ resourceBundle.eventListTitle }}</a></h3>
                            </div>
                            <accordion close-others="false">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>{{ resourceBundle.eventDateLabel }}</th>
                                            <th>{{ resourceBundle.patientOriginLabel }}</th>
                                            <th ng-repeat="dataValue in eventForm.allEvents[0].dataValues" ng-if="dataValue.showInEventSummary">
                                                {{ dataValue.formName }}
                                            </th>
                                            <th></th>
                                            <th ng-hide="!isDataEntryAllowed()"></th>
                                            <th ng-hide="!isDataEntryAllowed()"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="event in eventForm.allEvents">
                                            <td>{{ getFormattedDate(event.eventDate) }}</td>
                                            <td>{{ originOrgUnitsById[event.orgUnit].name }}</td>
                                            <td ng-repeat="dataValue in event.dataValues" ng-if="dataValue.showInEventSummary">
                                                <span ng-if="dataValue.type === 'date'">{{ getFormattedDate(dataValue.value) }}</span>
                                                <span ng-if="dataValue.type === 'bool' &amp;&amp; dataValue.value === 'true'">{{ resourceBundle.yes }}</span>
                                                <span ng-if="dataValue.type === 'bool' &amp;&amp; dataValue.value === 'false'">{{ resourceBundle.no }}</span>
                                                <span ng-if="dataValue.type !== 'date' &amp;&amp; dataValue.type !== 'bool'">{{ getDisplayValue(dataValue) }}</span>
                                            </td>
                                            <td>
                                                <a href="" id="" title="Submitted" ng-if="!event.localStatus || event.localStatus === 'READY_FOR_DHIS'" class="submitted">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </a>
                                                <a href="" id="" title="Incomplete" ng-if="event.localStatus === 'INCOMPLETE_DRAFT'" class="submitted">
                                                    <span class="glyphicon glyphicon-adjust">
                                                    </span>
                                                </a>
                                            </td>
                                            <td ng-hide="!isDataEntryAllowed()">
                                                <a title="Edit" href="" ng-click="loadEventDataEntryForm(event)" class="edit">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>
                                            </td>
                                            <td ng-hide="!isDataEntryAllowed()">
                                                <a href="" id="" ng-click="deleteEvent(event)" title="Delete" class="delete">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul>
                                    <li>
                                        <div class="text-center">
                                            <input type="button" ng-disabled="isCurrentWeekSelected(week) || !isDataEntryAllowed()" class="btn btn-main" value="Submit" ng-click="submit()" ng-if="!projectIsAutoApproved" />
                                            <input type="button" ng-disabled="isCurrentWeekSelected(week) || !isDataEntryAllowed()" class="btn btn-main" value="Submit" ng-click="submitAndApprove()" ng-if="projectIsAutoApproved" />
                                        </div>
                                    </li>
                                </ul>
                            </accordion>
                        </div>
                    </accordion-group>
                </accordion>
            </form>
        </div>
        <div ng-if="eventForm.showEventForm" ng-include="formTemplateUrl"></div>
    </section>
</div>
