<div class="panel panel-default" ng-controller="moduleController">
	<div class="panel-heading">
		<h3 class="panel-title">Project name</h3>
		<div class="actions">
			<button class="btn btn-add btn-xs" ng-click="addModules()">Add Module</button>
		</div>
	</div>

	<div class="panel-body">
		<ng-form name="form" class="form-horizontal" role="form">
			<div class="well" ng-repeat="module in modules">
			<ng-form name="form{{$index}}">
				<button class="btn-delete" ng-hide="$first" ng-click="delete($index)">X Delete</button>
				<ul>
					<li>
						<label for="moduleName" class="col-sm-4 col-md-4 control-label">Add module</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" name="moduleName" id="moduleName" placeholder="Module Name" ng-model="module.name" required>
							<div ng-show="shouldShow($index)">
								<span class="errortxt">{{resourceBundle.nameValidation}}</span>
							</div>
						</div>

					</li>
				</ul>
			</div>
			</ng-form>
			<button class="btn btn-main pull-right" ng-click="save(modules)" ng-disabled="form.$invalid">Save</button>
		</ng-form>
	</div>
</div>