<div class="panel panel-default" ng-controller="aggregateModuleController">
    <div class="loading" ng-show="loading">
        <img src="img/ajax-loader.gif" class="spinner" />
    </div>
    <div ng-show="saveFailure" class="alert alert-danger">{{ resourceBundle.errorModule }}</div>
    <div class="panel-heading">
        <h3 class="panel-title">{{ resourceBundle.moduleDetailsLabel }}</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="form" role="form" novalidate>
            <div class="well">
                <ul>
                    <li class="form-group">
                        <label for="moduleName" class="col-sm-4 col-md-4 control-label required">{{ resourceBundle.moduleNameLabel }}</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="moduleName{{$index}}" id="moduleName{{$index}}" placeholder="{{ resourceBundle.moduleNameLabel }}" ng-model="module.name" not-in="allModules" ng-disabled="isDisabled==true" required>
                            <div ng-show="form.moduleName{{$index}}.$dirty &amp;&amp; form.moduleName{{$index}}.$invalid">
                                <span class="errortxt" ng-show="form.moduleName{{$index}}.$error.required">{{resourceBundle.nameValidation}}</span>
                                <span class="errortxt" ng-show="form.moduleName{{$index}}.$error.isWithin">{{resourceBundle.alreadyExists}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="form-group">
                        <label for="moduleOpeningDate" class="col-sm-4 col-md-4 control-label required">{{ resourceBundle.openingDateLabel }}</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="date" name="moduleOpeningDate" ng-model="module.openingDate" ng-disabled="isDisabled==true" max="9999-12-31" required ng-model-options="{timezone: 'UTC'}">
                            <div ng-show="form.moduleOpeningDate.$dirty &amp;&amp; form.moduleOpeningDate.$invalid">
                                <span ng-show="form.moduleOpeningDate.$error.required" class="errortxt">{{resourceBundle.openingDateValidation}}</span>
                                <span ng-show="form.moduleOpeningDate.$invalid" class="errortxt">{{resourceBundle.invalidDateError}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="form-group add-service-label">
                        <label for="moduleName" class="col-sm-4 col-md-4 control-label required" ng-show="isNewMode">{{ resourceBundle.addServiceLabel }}</label>
                        <label for="moduleName" class="col-sm-4 col-md-4 control-label" ng-hide="isNewMode">{{ resourceBundle.servicesLabel }}</label>
                    </li>
                    <li class="form-group">
                        <div class="col-sm-12">
                            <section class="module-details">
                                <div class="add-item-ctrl">
                                    <div ng-hide="areDatasetsSelected()" class="mb5">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                        <span>{{resourceBundle.selectDatasets}}</span>
                                    </div>
                                    <multiselect resource-bundle="resourceBundle" left-list="nonAssociatedDataSets" name="name" ng-model="associatedDatasets" on-right-item-select="selectDataSet(item)" on-move-left="discardDataSet(module, items)" disabled="!isNewMode"
                                                 select-first-item="true"></multiselect>
                                </div>
                                <div class="details" ng-show="selectedDataset.sections.length > 0">
                                    <span ng-hide="areDataElementsSelectedForSection()">{{resourceBundle.selectDatasetSection}}</span>
                                    <h4 ng-class="{cur: true}">{{ selectedDataset.name}}</h4>
                                    <div class="template-selection">
                                        <label>
                                            <input type="radio" ng-model="selectedTemplate[selectedDataset.id]" value="Default" ng-change="onTemplateSelect()" /> {{resourceBundle.defaultTemplateLabel}}
                                        </label>
                                        <label>
                                            <input type="radio" ng-model="selectedTemplate[selectedDataset.id]" value="War" ng-change="onTemplateSelect()" /> {{resourceBundle.warTemplateLabel}}
                                        </label>
                                        <label>
                                            <input type="radio" ng-model="selectedTemplate[selectedDataset.id]" value="Emergency" ng-change="onTemplateSelect()" /> {{resourceBundle.emergencyTemplateLabel}}
                                        </label>
                                    </div>
                                    <div ng-repeat="section in selectedDataset.sections">
                                        <div class="collapse-head">
                                            <h5 ng-click="isExpanded[section.id] = !isExpanded[section.id]">
                                                <span class="glyphicon"
                                                        ng-class="{'glyphicon-chevron-right':!isExpanded[section.id], 'glyphicon-chevron-down':isExpanded[section.id]}" aria-hidden="true"></span> {{ section.name}}
                                            </h5>
                                            <input type="checkbox" ng-disabled="isDisabled==true" ng-change="changeDataElementSelection(section)" ng-model="getSection(selectedDataset, section.id)['isIncluded']">
                                        </div>
                                        <div collapse="!isExpanded[section.id]" class="collapse-body">
                                            <ul>
                                                <li ng-repeat="subSection in section.subSections">
                                                    <div class="collapse-head">
                                                        <h5 ng-click="isSubSectionExpanded[section.id][subSection.name] = !isSubSectionExpanded[section.id][subSection.name]">
                                                            <span class="glyphicon"
                                                            ng-class="{'glyphicon-chevron-right':!isSubSectionExpanded[section.id][subSection.name], 'glyphicon-chevron-down':isSubSectionExpanded[section.id][subSection.name]}" aria-hidden="true"></span>  {{ subSection.name}}
                                                        </h5>
                                                        <input type="checkbox" ng-disabled="isDisabled==true" ng-change="changeDataElementSelectionInSubSection(subSection, section)" ng-model="subSection.isIncluded">
                                                    </div>
                                                    <div collapse="!isSubSectionExpanded[section.id][subSection.name]" class="collapse-body">
                                                        <ul>
                                                            <li ng-repeat="element in subSection.dataElements">
                                                                <label>
                                                                    <input type="checkbox" ng-disabled="isDisabled || element.isMandatory" ng-model="element.isIncluded" ng-change="changeSubSectionSelection(subSection, section)">
                                                                    <a class="changeColor"
                                                                       description-popup
                                                                       dp-title="{{ element.formName}}"
                                                                       dp-desc="{{ element.description }}">
                                                                        {{ element.formName}}
                                                                    </a>
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li ng-repeat="element in section.unGroupedDataElements">
                                                    <label>
                                                        <input type="checkbox" ng-disabled="isDisabled || element.isMandatory" ng-model="element.isIncluded" ng-change="changeSectionSelection(section)">
                                                        <a class="changeColor"
                                                           description-popup
                                                           dp-title="{{ element.formName}}"
                                                           dp-desc="{{ element.description }}">
                                                        {{ element.formName}}
                                                        </a>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-offset-4 col-sm-6 col-md-offset-4 col-md-6 button-group">
                <input type="button" class="btn btn-main" ng-click="save()" ng-disabled="form.$invalid || shouldDisableSaveOrUpdateButton()" value="{{ resourceBundle.saveBtnValue }}" ng-if="isNewMode" />
                <input type="button" class="btn btn-main" ng-click="update()" ng-disabled="form.$invalid || shouldDisableSaveOrUpdateButton() || isDisabled==true || !form.$dirty" value="{{ resourceBundle.updateBtnValue }}" ng-if="!isNewMode &amp;&amp; !(isDisabled==true)" />
                <input type="button" class="btn" ng-click="disable(module)" value="{{ resourceBundle.disableBtnValue }}" ng-if="!isNewMode &amp;&amp; !(isDisabled==true)" />
                <input type="button" class="btn" ng-if="isNewMode" ng-click="closeForm()" value="{{ resourceBundle.backBtnValue }}" />
            </div>
        </form>
    </div>
</div>
