<div ng-controller="opUnitController">
    <div class="loading" ng-show="loading">
        <img src="img/ajax-loader.gif" class="spinner" />
    </div>
    <div class="top-actions" ng-if="!isNewMode">
        <input type="button" class="btn btn-sub btn-sm pull-right" value="Create Aggregate Module" ng-if="!(isDisabled)" ng-click="openInNewMode('Module')" />
        <input type="button" class="btn btn-sub btn-sm pull-right" value="Create Linelist Module" ng-if="!(isDisabled)" ng-click="openInNewMode('LineListModule')" />
        <input type="button" class="btn btn-sub btn-sm pull-right" value="Add Patient Origin" ng-click="openInNewMode('Patient Origin')" />
    </div>
    <div class="panel panel-default">
        <div ng-show="saveFailure" class="alert alert-danger">{{ resourceBundle.errorOpUnit }}</div>
        <div class="panel-heading">
            <h3 class="panel-title">Operation Unit Details</h3>
        </div>
        <div class="panel-body">
            <form name="form" class="form-horizontal" role="form" ng-submit="save(opUnit)" novalidate>
                <ul>
                    <li class="form-group">
                        <label for="opUnitType" class="col-sm-4 col-md-4 control-label">Operation unit type</label>
                        <div class="col-sm-8 col-md-8 form-inline">
                            <div class="radio-inline">
                                <label for="hospital">
                                    <input type="radio" ng-model="opUnit.type" id="hospital" value="Hospital" ng-disabled="isDisabled" required> Hospital </label>
                            </div>
                            <div class="radio-inline">
                                <label for="healthcenter">
                                    <input type="radio" ng-model="opUnit.type" id="healthcenter" value="Health Center" ng-disabled="isDisabled" required> Health Center </label>
                            </div>
                            <div class="radio-inline">
                                <label for="community">
                                    <input type="radio" ng-model="opUnit.type" id="community" value="Community" ng-disabled="isDisabled" required> Community </label>
                            </div>
                        </div>
                    </li>
                    <li class="form-group">
                        <label for="opUnitName" class="col-sm-4 col-md-4 control-label">Name of the unit</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="opUnitName{{$index}}" id="opUnitName{{$index}}" placeholder="Operation Unit Name" ng-model="opUnit.name" not-in="allOpunitNames" ng-disabled="isDisabled" required />
                            <div ng-show="form.opUnitName{{$index}}.$dirty &amp;&amp; form.opUnitName{{$index}}.$invalid">
                                <span class="errortxt" ng-show="form.opUnitName{{$index}}.$error.required">{{resourceBundle.nameValidation}}</span>
                                <span class="errortxt" ng-show="form.opUnitName{{$index}}.$error.isWithin">{{resourceBundle.alreadyExists}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="form-group" ng-if="opUnit.type==='Hospital'">
                        <label for="hospitalUnitCode" class="col-sm-4 col-md-4 control-label">Hospital Unit Code</label>
                        <div class="col-sm-6 col-md-6">
                            <select type="text" class="form-control" name="hospitalUnitCode" id="hospitalUnitCode" ng-model="opUnit.hospitalUnitCode" title="{{newOrgUnit.hospitalUnitCode}}" ng-options="h as h for h in hospitalUnitCodes" ng-disabled="isDisabled" required>
                                <option value=""></option>
                            </select>
                            <div ng-show="form.hospitalUnitCode.$dirty &amp;&amp; form.hospitalUnitCode.$invalid">
                                <span class="errortxt" ng-show="form.hospitalUnitCode.$error.required">{{resourceBundle.hospitalUnitCodeValidation}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="col-sm-offset-4 col-sm-6 col-md-offset-4 col-md-6 button-group">
                    <input type="submit" class="btn btn-main" ng-disabled="form.$invalid" ng-if="isNewMode" value="Save" />
                    <input type="button" class="btn btn-main" ng-disabled="form.$invalid || !form.$dirty" ng-if="!isNewMode &amp;&amp; !(isDisabled)" ng-click="update(opUnit) " value="Update " />
                    <input type="button " class="btn btn-main " ng-click="disable(orgUnit) " value="Disable " ng-if="!isNewMode &amp;&amp; !(isDisabled) " />
                    <input type="button" class="btn" ng-if="isNewMode" ng-click="reset()" value="Reset">
                    <input type="button" class="btn" class="btn" ng-if="isNewMode" ng-click="closeForm()" value="Back" />
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default" ng-if="!isNewMode &amp;&amp; originDetails &amp;&amp; originDetails.length !== 0">
        <div class="panel-heading">
            <h3 class="panel-title">Patient Origins</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Origin</th>
                        <th>latitude</th>
                        <th>longitude</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="origin in originDetails | orderBy: 'name'">
                        <td> {{origin.name}}</td>
                        <td> {{origin.latitude}}</td>
                        <td> {{origin.longitude}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
