<div ng-controller="opUnitController">
    <div class="loading" ng-show="loading">
        <img src="img/ajax-loader.gif" class="spinner" />
    </div>
    <div ng-show="!showEditOriginForm">
        <div class="top-actions" ng-if="!isNewMode">
            <input type="button" class="btn btn-sub btn-sm pull-right" value="{{ resourceBundle.createAggregateModuleBtnLabel }}" ng-if="!(isDisabled)" ng-click="openInNewMode('Module')" />
            <input type="button" class="btn btn-sub btn-sm pull-right" value="{{ resourceBundle.createLinelistModuleBtnLabel }}" ng-if="!(isDisabled)" ng-click="openInNewMode('LineListModule')" />
            <input type="button" class="btn btn-sub btn-sm pull-right" value="{{ resourceBundle.addPatientOriginBtnLabel }}" ng-click="openInNewMode('Patient Origin')" />
        </div>
        <div class="panel panel-default panelWith-Overflow-Visible">
            <div ng-show="saveFailure" class="alert alert-danger">{{ resourceBundle.errorOpUnit }}</div>
            <div class="panel-heading">
                <h3 class="panel-title">{{ resourceBundle.operationUnitDetailsLabel }}</h3>
            </div>
            <div class="panel-body">
                <form name="form" class="form-horizontal" role="form" ng-submit="save(opUnit)" novalidate>
                    <ul>
                        <li class="form-group">
                            <label for="opUnitName" class="col-sm-4 col-md-4 control-label required">{{ resourceBundle.nameOfTheUnitLabel }}</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="opUnitName{{$index}}" id="opUnitName{{$index}}" placeholder="{{ resourceBundle.operationUnitNameLabel }}" ng-model="opUnit.name" not-in="allOpunitNames" ng-disabled="isDisabled" required />
                                <div ng-show="form.opUnitName{{$index}}.$dirty &amp;&amp; form.opUnitName{{$index}}.$invalid">
                                    <span class="errortxt" ng-show="form.opUnitName{{$index}}.$error.required">{{resourceBundle.nameValidation}}</span>
                                    <span class="errortxt" ng-show="form.opUnitName{{$index}}.$error.isWithin">{{resourceBundle.alreadyExists}}</span>
                                </div>
                            </div>
                        </li>
                        <li class="form-group">
                            <label for="opUnitType" class="col-sm-4 col-md-4 control-label required">{{ resourceBundle.operationUnitTypeLabel }}</label>
                            <div class="col-sm-4">
                                <div angucomplete-alt="" name="opUnitType" form-name="form" placeholder="{{ resourceBundle.startTypingLabel }}" pause="100" selected-object="opUnit.type" local-data="opUnitTypes" search-fields="name" title-field="name" initial-value="{{opUnit.type.name}}" minlength="0" input-class="form-control form-control-small" match-class="highlight" field-required="true" class="ng-isolate-scope">
                                </div>
                            </div>
                        </li>
                        <li class="form-group" ng-if="showOpUnitCode">
                            <label for="hospitalUnitCode" class="col-sm-4 col-md-4 control-label required">{{ resourceBundle.hospitalUnitCodeLabel }}</label>
                            <div class="col-sm-4">
                                <div angucomplete-alt="" name="hospitalUnitCode" form-name="form" placeholder="{{ resourceBundle.startTypingLabel }}" pause="100" selected-object="opUnit.hospitalUnitCode" local-data="hospitalUnitCodes" search-fields="name" title-field="name" initial-value="{{opUnit.hospitalUnitCode.name}}" minlength="0" input-class="form-control form-control-small" match-class="highlight" field-required="true" class="ng-isolate-scope">
                                </div>
                                <div ng-show="form.hospitalUnitCode.$dirty &amp;&amp; form.hospitalUnitCode.$invalid">
                                    <span class="errortxt" ng-show="form.hospitalUnitCode.$error.required">{{resourceBundle.hospitalUnitCodeValidation}}</span>
                                </div>
                            </div>
                        </li>
                        <li class="form-group">
                            <label for="longitude" class="col-sm-4 col-md-4 control-label ng-class:{ 'required': areCoordinatesCompulsory() }">{{ resourceBundle.longitudeLabel }}</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.1" min="-180" max="180" class="form-control" name="longitude" id="longitude" ng-model="opUnit.longitude" ng-required="opUnit.latitude !== undefined &amp;&amp; opUnit.latitude !== null" />
                                <div ng-show="form.longitude.$dirty &amp;&amp; form.longitude.$invalid">
                                    <span ng-show="form.longitude.$invalid &amp;&amp; !form.longitude.$error.required" class="errortxt">{{resourceBundle.longitudeRangeValidation}}</span>
                                    <span ng-show="form.longitude.$error.required" class="errortxt">{{resourceBundle.longitudeValidation}}</span>
                                </div>
                            </div>
                        </li>
                        <li class="form-group">
                            <label for="latitude" class="col-sm-4 col-md-4 control-label ng-class:{ 'required': areCoordinatesCompulsory() }">{{ resourceBundle.latitudeLabel }}</label>
                            <div class="col-sm-4">
                                <input type="number" step="0.1" min="-90" max="90" class="form-control" name="latitude" id="latitude" ng-model="opUnit.latitude" ng-required="opUnit.longitude !== undefined &amp;&amp; opUnit.longitude !== null" />
                                <div ng-show="form.latitude.$dirty &amp;&amp; form.latitude.$invalid">
                                    <span ng-show="form.latitude.$invalid &amp;&amp; !form.latitude.$error.required" class="errortxt">{{resourceBundle.latitudeRangeValidation}}</span>
                                    <span ng-show="form.latitude.$error.required" class="errortxt">{{resourceBundle.latitudeValidation}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="col-sm-offset-4 col-sm-6 col-md-offset-4 col-md-4 button-group">
                        <input type="submit" class="btn btn-main" ng-disabled="form.$invalid" ng-if="isNewMode" value="{{ resourceBundle.saveBtnValue }}" />
                        <input type="button" class="btn btn-main" ng-disabled="form.$invalid || !form.$dirty" ng-if="!isNewMode &amp;&amp; !(isDisabled)" ng-click="update(opUnit) " value="{{ resourceBundle.updateBtnValue }}" />
                        <input type="button" class="btn" ng-click="disable(orgUnit)" value="{{ resourceBundle.disableBtnValue }}" ng-if="!isNewMode &amp;&amp; !(isDisabled) " />
                        <input type="button" class="btn" class="btn" ng-if="isNewMode" ng-click="closeForm()" value="{{ resourceBundle.backBtnValue }}" />
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default" ng-if="!isNewMode &amp;&amp; originDetails &amp;&amp; originDetails.length !== 0">
            <div class="panel-heading">
                <h3 class="panel-title">{{ resourceBundle.patientOriginsLabel }}</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{{ resourceBundle.originLabel }}</th>
                            <th>{{ resourceBundle.latitudeLabel }}</th>
                            <th>{{ resourceBundle.longitudeLabel }}</th>
                            <th>{{ resourceBundle.editLabel }}</th>
                            <th>{{ resourceBundle.enableDisableLabel }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="origin in originDetails | orderBy: 'name'">
                            <td> {{origin.name}}</td>
                            <td> {{origin.latitude}}</td>
                            <td> {{origin.longitude}}</td>
                            <td>
                                <a title="edit" ng-if="!origin.isDisabled" class="edit" ng-click="editPatientOrigin(origin)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <span ng-if="origin.isDisabled" class="edit glyphicon glyphicon-ban-circle"></span>
                            </td>
                            <td>
                                <a ng-if="!origin.isDisabled" href="" title="Disable" class="delete" ng-click="toggleOriginDisabledState(origin)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a ng-if="origin.isDisabled" href="" title="Enable" class="delete" ng-click="toggleOriginDisabledState(origin)">
                                    <span class="glyphicon glyphicon-ok glyphicon-green"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-if="showEditOriginForm" ng-include="formTemplateUrl"></div>
</div>
