<div ng-controller="projectUserController">
    <div ng-show="saveFailure" class="alert alert-danger">{{ resourceBundle.errorUser }}</div>
    <form name="createForm" class="form-horizontal" role="form" novalidate ng-submit="save(projectUser, orgUnit)" ng-if="isNewMode">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create User</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li class="form-group">
                        <label for="userName" class="col-sm-4 col-md-4 control-label required">Username</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" class="form-control" name="userName" id="userName" ng-model="projectUser.username" not-in="existingUsers" ng-pattern="userNameMatchExpr" placeholder="{{userNamePlaceHolder}}" required/>
                            <div ng-show="createForm.userName.$dirty &amp;&amp; createForm.userName.$invalid">
                                <span ng-show="createForm.userName.$error.required" class="errortxt">{{resourceBundle.usernameValidation}}</span>
                                <span ng-show="createForm.userName.$error.pattern" class="errortxt">{{resourceBundle.usernamePrefixValidation}} {{userNamePrefix}}.</span>
                                <span ng-show="createForm.userName.$error.isWithin" class="errortxt">{{resourceBundle.usernameExists}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="form-group">
                        <label for="userRole" class="col-sm-4 col-md-4 control-label required">Role</label>
                        <div class="col-sm-6 col-md-6">
                            <div angucomplete-alt id="ex1" placeholder="Start Typing..." pause="100" selected-object="projectUser.userRole" local-data="userRoles" search-fields="name" title-field="name" minlength="0" input-class="form-control form-control-small">
                            </div>
                            <div ng-show="createForm.userRole.$dirty &amp;&amp; createForm.userRole.$invalid">
                                <span ng-show="createForm.userRole.$error.required" class="errortxt">{{resourceBundle.roleValidation}}</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-sm-offset-4 col-sm-6 col-md-offset-4 col-md-6">
                            <input type="submit" class="btn btn-main" ng-disabled="createForm.$invalid" value="Save" />
                            <input type="button" class="btn" ng-click="reset()" value="Reset">
                            <input type="button" class="btn" ng-click="closeForm()" value="Back" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    <div ng-if="!isNewMode">
        <div class="panel panel-default" ng-if="!isNewMode &amp;&amp; orgUnitUsers.length !== 0">
            <div class="panel-heading">
                <h3 class="panel-title">User List</h3>
            </div>
            <div class="panel-body">
                <div ng-show="isUserToBeDisabled &amp;&amp; userStateSuccessfullyToggled" class="alert alert-success">{{ resourceBundle.userDisableSuccess }}</div>
                <div ng-show="!isUserToBeDisabled &amp;&amp; userStateSuccessfullyToggled" class="alert alert-success">{{ resourceBundle.userEnableSuccess }}</div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Enable/Disable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in orgUnitUsers | orderBy: 'userCredentials.username'">
                            <td> {{user.userCredentials.username}}</td>
                            <td> {{user.roles}}</td>
                            <td>
                                <a ng-if="!user.userCredentials.disabled" href="" title="Disable" class="delete" ng-if="user.roles != 'Superuser'" ng-click="toggleUserDisabledState(user)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a ng-if="user.userCredentials.disabled" href="" title="Enable" class="delete" ng-if="user.roles != 'Superuser'" ng-click="toggleUserDisabledState(user)">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
