<div ng-controller="projectController">
    <div class="top-actions" ng-if="!isNewMode &amp;&amp; hasRoles(['Coordination Level Approver', 'Observer', 'Project Level Approver', 'Data entry user', 'Projectadmin'])">
        <input type="button" class="btn btn-sub btn-sm pull-right" value="{{ resourceBundle.createOperationUnitBtnLabel }}" ng-click="openInNewMode('Operation Unit')" />
        <input type="button" class="btn btn-sub btn-sm pull-right" value="{{ resourceBundle.createUserLabel }}" ng-click="openInNewMode('User')" />
    </div>
    <div ng-show="saveFailure" class="alert alert-danger">{{ resourceBundle.errorProject }}</div>
    <form name="createForm" class="form-horizontal" role="form" novalidate>
        <div class="panel panel-default panelWith-Overflow-Visible">
            <div class="panel-heading">
                <h3 ng-if="isNewMode" class="panel-title">{{ resourceBundle.createProjectLabel }}</h3>
                <h3 ng-if="!isNewMode" class="panel-title">{{ resourceBundle.projectDetailsLabel }}</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li class="form-group">
                        <label for="newOrgUnitName" class="col-sm-4 col-md-4 control-label required">{{ resourceBundle.nameLabel }}</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" class="form-control" name="newOrgUnitName" id="newOrgUnitName" ng-maxlength="50" ng-model="newOrgUnit.name" not-in="peerProjects" required/>
                            <div ng-show="createForm.newOrgUnitName.$dirty &amp;&amp; createForm.newOrgUnitName.$invalid">
                                <span ng-show="createForm.newOrgUnitName.$error.required" class="errortxt">{{resourceBundle.nameValidation}}</span>
                                <span ng-show="createForm.newOrgUnitName.$error.isWithin" class="errortxt">{{resourceBundle.projectExists}}</span>
                                <span ng-show="createForm.newOrgUnitName.$error.maxlength" class="errortxt">{{resourceBundle.nameLengthValidation}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="form-group">
                        <label for="newOrgUnitProjCode" class="col-sm-4 col-md-4 control-label required">{{ resourceBundle.projectCodeLabel }}</label>
                        <div class="col-sm-6 col-md-6">
                            <input ng-disabled="!isNewMode" type="text" class="form-control" name="newOrgUnitProjCode" id="newOrgUnitProjCode" ng-model="newOrgUnit.projectCode" not-in="existingProjectCodes" required/>
                            <div ng-show="createForm.newOrgUnitProjCode.$dirty &amp;&amp; createForm.newOrgUnitProjCode.$invalid">
                                <span ng-show="createForm.newOrgUnitProjCode.$error.required" class="errortxt">{{resourceBundle.projectCodeValidation}}</span>
                                <span ng-show="createForm.newOrgUnitProjCode.$error.isWithin" class="errortxt">{{resourceBundle.projectCodeExists}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="form-group">
                        <label for="newOrgUnitLocation" class="col-sm-4 col-md-4 control-label">{{ resourceBundle.locationLabel }}</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" class="form-control" name="newOrgUnitLocation" id="newOrgUnitLocation" ng-model="newOrgUnit.location" />
                        </div>
                    </li>
                    <li class="form-group" ng-repeat="(id, orgUnitGroupSet) in orgUnitGroupSetsById">
                        <label class="col-sm-4 col-md-4 control-label" ng-class="{ 'required' : orgUnitGroupSet.isMandatory }">{{ orgUnitGroupSet.name }}</label>
                        <div class="col-sm-6 col-md-6">
                            <div angucomplete-alt=""
                                 name="{{ orgUnitGroupSet.name }}"
                                 form-name="createForm"
                                 placeholder="{{ resourceBundle.startTypingLabel }}"
                                 pause="100"
                                 selected-object="assignValue"
                                 local-data="orgUnitGroupSet.organisationUnitGroups"
                                 search-fields="name"
                                 title-field="name"
                                 initial-value="{{ newOrgUnit.orgUnitGroupSets[id].name }}"
                                 minlength="0"
                                 input-class="form-control form-control-small"
                                 match-class="highlight"
                                 field-required="orgUnitGroupSet.isMandatory"
                                 class="ng-isolate-scope">
                            </div>
                        </div>
                    </li>
                    <li class="form-group">
                        <label for="newPopulation" class="col-sm-4 col-md-4 control-label">{{ resourceBundle.populationLabel }}</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" class="form-control" name="newPopulation" id="newPopulation" ng-model="newOrgUnit.estimatedTargetPopulation" min="1" ng-pattern="/^[0-9]+$/" />
                            <span ng-show="createForm.newPopulation.$error.number" class="errortxt">{{resourceBundle.notAValidNumber}}</span>
                            <span ng-show="createForm.newPopulation.$error.pattern" class="errortxt">{{resourceBundle.notAValidNumber}}</span>
                            <span ng-show="createForm.newPopulation.$error.min" class="errortxt">{{ resourceBundle.greaterThan0 }}</span>
                        </div>
                    </li>
                    <li class="form-group">
                        <label for="newProportionChildrenLessThanOneYear" class="col-sm-4 col-md-4 control-label">{{ resourceBundle.proportionChildrenLessThanOneYearLabel }}</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" class="form-control" name="newProportionChildrenLessThanOneYear" id="newProportionChildrenLessThanOneYear" ng-model="newOrgUnit.estPopulationLessThan1Year" min="1" ng-pattern="/^[0-9]+$/" />
                            <span ng-show="createForm.newProportionChildrenLessThanOneYear.$error.number" class="errortxt">{{resourceBundle.notAValidNumber}}</span>
                            <span ng-show="createForm.newProportionChildrenLessThanOneYear.$error.pattern" class="errortxt">{{resourceBundle.notAValidNumber}}</span>
                            <span ng-show="createForm.newProportionChildrenLessThanOneYear.$error.min" class="errortxt">{{ resourceBundle.greaterThan0 }}</span>
                        </div>
                    </li>
                    <li class="form-group">
                        <label for="newProportionChildrenLessThanFiveYears" class="col-sm-4 col-md-4 control-label">{{ resourceBundle.proportionChildrenLessThanFiveYearsLabel }}</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" class="form-control" name="newProportionChildrenLessThanFiveYears" id="newProportionChildrenLessThanFiveYears" ng-model="newOrgUnit.estPopulationBetween1And5Years" min="1" ng-pattern="/^[0-9]+$/" />
                            <span ng-show="createForm.newProportionChildrenLessThanFiveYears.$error.number" class="errortxt">{{resourceBundle.notAValidNumber}}</span>
                            <span ng-show="createForm.newProportionChildrenLessThanFiveYears.$error.pattern" class="errortxt">{{resourceBundle.notAValidNumber}}</span>
                            <span ng-show="createForm.newProportionChildrenLessThanFiveYears.$error.min" class="errortxt">{{ resourceBundle.greaterThan0 }}</span>
                        </div>
                    </li>
                    <li class="form-group">
                        <label for="newProportionWomenOfChildBearingAge" class="col-sm-4 col-md-4 control-label">{{ resourceBundle.proportionWomenOfChildBearingAgeLabel }}</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" class="form-control" name="newProportionWomenOfChildBearingAge" id="newProportionWomenOfChildBearingAge" ng-model="newOrgUnit.estPopulationOfWomenOfChildBearingAge" min="1" ng-pattern="/^[0-9]+$/" />
                            <span ng-show="createForm.newProportionWomenOfChildBearingAge.$error.number" class="errortxt">{{resourceBundle.notAValidNumber}}</span>
                            <span ng-show="createForm.newProportionWomenOfChildBearingAge.$error.pattern" class="errortxt">{{resourceBundle.notAValidNumber}}</span>
                            <span ng-show="createForm.newProportionWomenOfChildBearingAge.$error.min" class="errortxt">{{ resourceBundle.greaterThan0 }}</span>
                        </div>
                    </li>
                    <li class="form-group">
                        <label for="newOrgUnitOpeningDate" class="col-sm-4 col-md-4 control-label required">{{ resourceBundle.openingDateLabel }}</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="date" class="msf-date-input" name="newOrgUnitOpeningDate" ng-model="newOrgUnit.openingDate" max="9999-12-31" required>
                            <div ng-show="createForm.newOrgUnitOpeningDate.$dirty &amp;&amp; createForm.newOrgUnitOpeningDate.$invalid">
                                <span ng-show="createForm.newOrgUnitOpeningDate.$error.required" class="errortxt">{{resourceBundle.openingDateValidation}}</span>
                                <span ng-show="createForm.newOrgUnitOpeningDate.$invalid" class="errortxt">{{resourceBundle.invalidDateError}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="form-group">
                        <label for="newOrgUnitEndDate" class="col-sm-4 col-md-4 control-label">{{ resourceBundle.endDateLabel }}</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="date" class="msf-date-input" name="newOrgUnitEndDate" ng-model="newOrgUnit.endDate" max="9999-12-31">
                            <div ng-show="createForm.newOrgUnitEndDate.$dirty &amp;&amp; createForm.newOrgUnitEndDate.$invalid">
                                <span ng-show="createForm.newOrgUnitEndDate.$invalid" class="errortxt">{{resourceBundle.invalidDateError}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="form-group">
                        <label for="newOrgUnitEndDate" class="col-sm-4 col-md-4 control-label">{{ resourceBundle.autoApproveLabel }}</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="radio" id="newOrgUnitAutoApproveYes" name="newOrgUnitAutoApprove" ng-model="newOrgUnit.autoApprove" value="true" />&nbsp;
                            <label for="newOrgUnitAutoApproveYes">{{ resourceBundle.yesLabel }}</label>&nbsp;
                            <input type="radio" id="newOrgUnitAutoApproveNo" name="newOrgUnitAutoApprove" ng-model="newOrgUnit.autoApprove" value="false" />&nbsp;
                            <label for="newOrgUnitAutoApproveNo">{{ resourceBundle.noLabel }}</label>&nbsp;
                        </div>
                    </li>
                    <li>
                        <div class="col-sm-offset-4 col-sm-6 col-md-offset-4 col-md-6">
                            <input type="button" class="btn btn-main" ng-if="isNewMode" ng-click="save(newOrgUnit, orgUnit)" ng-disabled="createForm.$invalid" value="{{ resourceBundle.saveBtnValue }}" />
                            <input type="button" class="btn btn-main" ng-if="!isNewMode" ng-click="update(newOrgUnit, orgUnit)" ng-disabled="createForm.$invalid || !createForm.$dirty" value="{{ resourceBundle.updateBtnValue }}" />
                            <input type="button" class="btn" ng-if="isNewMode" ng-click="closeForm(orgUnit)" value="{{ resourceBundle.backBtnValue }}" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    <div ng-include="'templates/partials/project-user-form.html'" ng-if="!isNewMode &amp;&amp; !hasRoles(['Superadmin'])"></div>
</div>
