<div ng-controller="projectController">
	<div class="top-actions" ng-if="!isNewMode">
		<input type="button" class="btn btn-sub btn-sm pull-right" value="Create Operation Unit" ng-click="openInNewMode('Operation Unit')" />
		<input type="button" class="btn btn-sub btn-sm pull-right" value="Create Module" ng-click="openInNewMode('Module')" />
		<input type="button" class="btn btn-sub btn-sm pull-right" value="Create User" ng-click="openInNewMode('User')" />
	</div>
	<div ng-show="saveFailure" class="alert alert-danger">{{ resourceBundle.errorProject }}</div>
	<form name="createForm" class="form-horizontal" role="form" novalidate>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 ng-if="isNewMode" class="panel-title">Create Project</h3>
				<h3 ng-if="!isNewMode" class="panel-title">Project Details</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li class="form-group">
						<label for="newOrgUnitName" class="col-sm-4 col-md-4 control-label">Name</label>
						<div class="col-sm-6 col-md-6" >
							<input ng-disabled="!isNewMode" type="text" class="form-control" name="newOrgUnitName" id="newOrgUnitName" ng-model="newOrgUnit.name" not-in="peerProjects" required/>
							<div ng-show="createForm.newOrgUnitName.$dirty &amp;&amp; createForm.newOrgUnitName.$invalid">
								<span ng-show="createForm.newOrgUnitName.$error.required" class="errortxt">{{resourceBundle.nameValidation}}</span>
								<span ng-show="createForm.newOrgUnitName.$error.isWithin" class="errortxt">{{resourceBundle.projectExists}}</span>
							</div>
						</div>
					</li>
					<li class="form-group">
						<label for="newOrgUnitProjCode" class="col-sm-4 col-md-4  control-label">Project Code</label>
						<div class="col-sm-6 col-md-6" >
							<input ng-disabled="!isNewMode" type="text" class="form-control" name="newOrgUnitProjCode" id="newOrgUnitProjCode" ng-model="newOrgUnit.projectCode" required/>
							<div ng-show="createForm.newOrgUnitProjCode.$dirty &amp;&amp; createForm.newOrgUnitProjCode.$invalid">
								<span ng-show="createForm.newOrgUnitProjCode.$error.required"class="errortxt">{{resourceBundle.projectCodeValidation}}</span>
							</div>
						</div>
					</li>
					<li class="form-group">
						<label for="newOrgUnitLocation" class="col-sm-4 col-md-4  control-label">Location</label>
						<div class="col-sm-6 col-md-6" >
							<input type="text" class="form-control" name="newOrgUnitLocation" id="newOrgUnitLocation" ng-model="newOrgUnit.location"/>
						</div>
					</li>
					<li class="form-group">
						<label for="newOrgUnitProjectType" class="col-sm-4 col-md-4  control-label">Type of project</label>
						<div class="col-sm-6 col-md-6" >
							<select type="text" class="form-control" name="newOrgUnitProjectType" id="newOrgUnitProjectType" ng-model="newOrgUnit.projectType" title="{{newOrgUnit.projectType}}" ng-options="o as o for o in allProjectTypes">
								<option value=""></option>
							</select>
						</div>
					</li>
					<li class="form-group">
						<label for="newOrgUnitContext" class="col-sm-4 col-md-4 control-label">Context</label>
						<div class="col-sm-6 col-md-6" >
							<select type="text" class="form-control" name="newOrgUnitContext" id="newOrgUnitContext" ng-model="newOrgUnit.context" title="{{newOrgUnit.context}}" ng-options="o as o for o in allContexts">
								<option value=""></option>
							</select>
						</div>
					</li>
					<li class="form-group">
						<label for="newOrgUnitPopType" class="col-sm-4 col-md-4 control-label">Type of population</label>
						<div class="col-sm-6 col-md-6" >
							<select type="text" class="form-control" name="newOrgUnitPopType" id="newOrgUnitPopType" ng-model="newOrgUnit.populationType" title="{{newOrgUnit.populationType}}" ng-options="o as o for o in allPopTypes">
								<option value=""></option>
							</select>
						</div>
					</li>
					<li class="form-group">
						<label for="newOrgUnitEvent" class="col-sm-4 col-md-4 control-label">Event</label>
						<div class="col-sm-6 col-md-6" >
							<select type="text" class="form-control" name="newOrgUnitEvent" id="newOrgUnitEvent" ng-model="newOrgUnit.event" title="{{newOrgUnit.event}}" ng-options="e as e for e in allEvents">
								<option value=""></option>
							</select>
						</div>
					</li>

					<li class="form-group">
						<label for="newOrgUnitOpeningDate" class="col-sm-4 col-md-4 control-label">Opening Date</label>
						<div class="col-sm-6 col-md-6" >
							<input type="date" max={{thisDate}} name="newOrgUnitOpeningDate" ng-model="newOrgUnit.openingDate" required>
							<div ng-show="createForm.newOrgUnitOpeningDate.$dirty &amp;&amp; createForm.newOrgUnitOpeningDate.$invalid || isAfterMaxDate()">
								<span ng-show="createForm.newOrgUnitOpeningDate.$error.required"class="errortxt">{{resourceBundle.openingDateValidation}}</span>
								<span ng-show="isAfterMaxDate()" class="errortxt">{{resourceBundle.beyondMaxDate}}</span>
							</div>
						</div>
					</li>
					<li class="form-group">
						<label for="newOrgUnitEndDate" class="col-sm-4 col-md-4 control-label">End Date</label>
						<div class="col-sm-6 col-md-6" >
							<input type="date" min={{thisDate}} name="newOrgUnitEndDate" ng-model="newOrgUnit.endDate">
						</div>
					</li>
					<li>
						<div class="col-sm-offset-4 col-sm-6 col-md-offset-4 col-md-6">
							<input type="button" class="btn btn-main" ng-if="isNewMode" ng-click="save(newOrgUnit, orgUnit)" ng-disabled="createForm.$invalid  || isAfterMaxDate()" value="Save"/>
							<input type="button" class="btn btn-main" ng-if="!isNewMode" ng-click="update(newOrgUnit, orgUnit)" ng-disabled="createForm.$invalid  || isAfterMaxDate()" value="Update"/>
							<input type="button" class="btn" ng-click="reset()" ng-if="isNewMode" value="Reset">
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
	<div class="panel panel-default" ng-if="!isNewMode &amp;&amp; projectUsers.length !== 0">
		<div class="panel-heading">
			<h3 class="panel-title">Project User List</h3>
		</div>
		<div class="panel-body">
			<div ng-show="isUserToBeDisabled &amp;&amp; userStateSuccessfullyToggled" class = "alert alert-success">{{ resourceBundle.userDisableSuccess }}</div>
			<div ng-show="!isUserToBeDisabled &amp;&amp; userStateSuccessfullyToggled" class = "alert alert-success">{{ resourceBundle.userEnableSuccess }}</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Username</th>
						<th>Role</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in projectUsers | orderBy: 'userCredentials.username'">
						<td> {{user.userCredentials.username}}</td>
						<td> {{user.roles}}</td>
						<td>

							<a href="" title="Delete" class="delete" ng-if="user.roles != 'Superuser'" ng-click="toggleUserDisabledState(user)">
								<span class="glyphicon glyphicon-remove" ng-show="!user.userCredentials.disabled"></span>
								<span class="glyphicon glyphicon-ok" ng-show="user.userCredentials.disabled"></span>
							</a> 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>