<div ng-controller="referralLocationsController">
    <div class="loading" ng-show="loading">
        <img src="img/ajax-loader.gif" class="spinner" />
    </div>
    <div class="panel panel-default panelWith-Overflow-Visible">
        <div class="panel-heading">
            <h3 class="panel-title">{{ resourceBundle.referralLocationsLabel }}</h3>
        </div>
        <div class="panel-body">
            <form name="form" class="form-horizontal" role="form" ng-submit="save()" novalidate>
                <ul>
                    <li class="form-group" ng-repeat="referralLocation in referralLocations | orderBy : displayOrder">
                        <label for="referralLocationName{{$index}}" class="col-sm-4 col-md-4 control-label">{{ resourceBundle["referralLocation_" + referralLocation.genericName] }}</label>
                        <div class="col-xs-10 col-sm-4">
                            <input type="text" ng-disabled="referralLocation.isDisabled" class="form-control" name="referralLocationName{{$index}}" id="referralLocationName{{$index}}" placeholder="{{ resourceBundle.referralLocationNamePlaceholder }}" ng-model="referralLocation.aliasName">
                            <span ng-show="hasBeenEmptied(referralLocation)" class="errortxt">{{resourceBundle.referralCannotBeEmpty}}</span>
                            </input>
                        </div>
                        <div class="col-xs-1 col-sm-1 disable-referral">
                            <a ng-if="referralLocation.hasExistingName &amp;&amp; referralLocation.aliasName !== '' &amp;&amp; referralLocation.isDisabled !== true" href="" title="Disable" class="delete" ng-click="disableLocation(referralLocation)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="col-sm-offset-4 col-sm-6 col-md-offset-4 col-md-4 button-group">
                    <input ng-disabled="shouldDisableSaveButton()" type="submit" class="btn btn-main" value="{{ resourceBundle.saveBtnValue }}" />
                    <input type="button" class="btn" ng-click="closeForm()" value="{{ resourceBundle.backBtnValue }}" />
                </div>
            </form>
        </div>
    </div>
</div>
