<a href="" tabindex="-1">{{resourceBundle.selectLanguageLabel}}</a>
<ul ng-controller="selectLanguageController" class="dropdown-menu" role="menu">
    <li>
        <a href="" ng-click="changeLanguagePreference('en')"> <span ng-class="{'glyphicon glyphicon-ok': currentUser.locale=='en','glyphicon glyphicon-ok hide-tick': currentUser.locale !='en' }"></span> English</a>
    </li>
    <li>
        <a href="" ng-click="changeLanguagePreference('fr')"> <span ng-class="{'glyphicon glyphicon-ok': currentUser.locale=='fr','glyphicon glyphicon-ok hide-tick': currentUser.locale !='fr' }"></span> Français</a>
    </li>
    <li>
        <a href="" ng-click="changeLanguagePreference('ar')"> <span ng-class="{'glyphicon glyphicon-ok': currentUser.locale=='ar','glyphicon glyphicon-ok hide-tick': currentUser.locale !='ar' }"></span> العربية</a>
    </li>
</ul>
