<div>
    <form name="approvalForm" class="data-approval-form">
        <div class="menu">
        <span class="title">{{resourceBundle.itemsAwaitingApprovalAtUserLevelLabel | uppercase}}</span>
        </div>
        <div ng-if="itemsArePresent(itemsAwaitingApprovalAtUserLevel)">
            <div ng-repeat="(opUnitName, modules) in itemsAwaitingApprovalAtUserLevel">
                <div class="row">
                    <h4 class ='header-with-opunit'>{{opUnitName}}</h4>
                    <div class="col-md-4 {{ layoutDirection.direction }} dashboardDataApproval" ng-repeat-start="(moduleName, weeks) in modules">
                        <ul class="list-unstyled">
                            <li>
                                <div class="data-approval"><strong>{{ moduleName }}</strong></div>
                            </li>
                            <li ng-repeat="week in weeks | orderBy: 'period'">
                                <input type="checkbox" class="dashboard-form-checkbox" ng-model="week.selectedForApproval" />
                                <a ng-href="{{ getTemplateUrl(week) }}" ng-class="{ 'error-label': week.failedToSync }">{{formatPeriods(week.period)}}</a>
                            </li>
                        </ul>
                    </div>
                    <div ng-class="{ 'clearfix': ($index + 1) % 3 == 0 }" ng-repeat-end></div>
                </div>
            </div>

            <div class="row approval-button">
                <input type="submit"
                       ng-disabled="moduleDataBlocks | filter: { selectedForApproval: true } | isEmpty"
                       value="{{ resourceBundle.approveBtnValue }}"
                       class="btn btn-primary {{ layoutDirection.direction }}"
                       ng-click="bulkApprove()"/>
            </div>
        </div>
        <div ng-if="!itemsArePresent(itemsAwaitingApprovalAtUserLevel)" class="alert alert-info">
            {{ resourceBundle.noItemsAwaitingApproval }}
        </div>
    </form>
    <form>
        <table class="table dataentrytable" ng-if="itemsArePresent(itemsAwaitingSubmission) || itemsArePresent(itemsAwaitingApprovalAtOtherLevels)" locked-table-header="">
            <thead>
            <tr class="title">
                <th class="col-md-4">{{resourceBundle.moduleLabel|uppercase}}</th>
                <th class="col-md-4">{{resourceBundle.itemsAwaitingDataSubmissionLabel|uppercase}}</th>
                <th class="col-md-4">{{resourceBundle.awaitingApproval|uppercase}}</th>
            </tr>
            </thead>

            <tbody ng-repeat="(opUnitName, modules) in moduleMap">
            <tr class="header-with-opunit">
                <th colspan="3" class="col-md-4">{{ opUnitName }}</th>
            </tr>
            <tr ng-repeat="moduleName in modules">
                <td class="col-md-4"><strong>{{ moduleName }}</strong></td>
                <td class="col-md-4">
                    <ul class="list-unstyled">
                        <li ng-repeat="week in itemsAwaitingSubmission[opUnitName][moduleName] | orderBy: 'period'" ng-if="week.active">
                            <span>{{formatPeriods(week.period)}}</span>
                        </li>
                    </ul>
                </td>
                <td class="col-md-4">
                    <ul class="list-unstyled">
                        <li ng-repeat="week in itemsAwaitingApprovalAtOtherLevels[opUnitName][moduleName] | orderBy: 'period'" ng-if="week.active">
                            <span class="period">{{formatPeriods(week.period)}}</span>
                            <span ng-if="week.awaitingActionAtProjectLevelApprover">- {{ resourceBundle.itemsAwaitingApprovalAtProjectLevel }}</span>
                            <span ng-if="week.awaitingActionAtCoordinationLevelApprover">- {{ resourceBundle.itemsAwaitingApprovalAtCoordinationLevel }}</span>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
