<div>
    <form name="approvalForm" class="data-approval-form">
        <div class="menu">
        <span class="title">{{resourceBundle.itemsAwaitingApprovalAtUserLevelLabel}}</span>
        <span class="approval-button {{ layoutDirection.direction }}"><input type="submit"
                    ng-disabled="(itemsAwaitingApprovalAtUserLevel | filter : { 'selectedForApproval': true}).length === 0"
                    value="{{resourceBundle.approveBtnValue}}" class="btn btn-primary"
                    ng-click="bulkApprove()"/>
        </span>
        </div>
        <div ng-if="itemsArePresent(itemsAwaitingApprovalAtUserLevel)">
            <div ng-repeat="(opUnitName, modules) in itemsAwaitingApprovalAtUserLevelGroupedByOpUnit">
                <div class="row">
                    <h4 class ='header-with-opunit'>{{opUnitName}}</h4>
                    <div class="col-md-3 {{ layoutDirection.direction }} dashboardDataApproval" ng-repeat-start="(moduleName, items) in modules">
                        <ul class="list-unstyled">
                            <li><h5>{{moduleName}}</h5></li>
                            <li ng-repeat="item in items | orderBy: 'period'">
                                <input type="checkbox" class="dashboard-form-checkbox"
                                       ng-model="item.selectedForApproval"
                                       ng-change="toggleWeek()"
                                />
                                <a ng-href="{{ getTemplateUrl(item) }}" ng-class="{ 'error-label': item.failedToSync }">{{formatPeriods(item.period)}}</a>
                            </li>
                        </ul>
                    </div>
                    <div ng-class="{'clearfix': ($index+1)%4==0 }" ng-repeat-end></div>
                </div>
            </div>
        </div>
    </form>
    <form>
        <table class="table dataentrytable" ng-if="itemsArePresent(itemsAwaitingSubmission) || itemsArePresent(itemsAwaitingApprovalAtOtherLevels)">
            <thead>
            <tr class="title">
                <th colspan="2">{{resourceBundle.itemsAwaitingDataSubmissionLabel}}</th>
                <th colspan="1">{{resourceBundle.awaitingApproval}}</th>
            </tr>
            </thead>
            <tbody ng-repeat="(opUnitName, modules) in moduleNamesGroupedByOpunit">
            <tr class = 'header-with-opunit'>
                <th colspan="3">{{ opUnitName }}</th>
            </tr>
            <tr ng-repeat="moduleName in modules">
                <td>{{ getModuleName(moduleName) }}</td>
                <td>
                    <ul class="list-unstyled">
                        <li ng-repeat="item in itemsAwaitingSubmission[moduleName] | orderBy: 'period'" ng-if="item.active">
                            <span>{{formatPeriods(item.period)}}</span>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li ng-repeat="item in itemsAwaitingApprovalAtOtherLevels[moduleName] | orderBy: 'period'" ng-if="item.active">
                            <span class="period">{{formatPeriods(item.period)}}</span>
                            <span ng-if="item.awaitingActionAtProjectLevelApprover">- {{ resourceBundle.itemsAwaitingApprovalAtProjectLevel }}</span>
                            <span ng-if="item.awaitingActionAtCoordinationLevelApprover">- {{ resourceBundle.itemsAwaitingApprovalAtCoordinationLevel }}</span>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
