<table class="table dataentrytable" ng-if="itemsArePresent(itemsAwaitingSubmission) || itemsArePresent(itemsAwaitingApprovalAtOtherLevels)">
    <thead>
        <tr class="title">
            <th colspan="2">{{resourceBundle.itemsAwaitingDataSubmissionLabel}}</th>
            <th colspan="1">{{resourceBundle.awaitingApproval}}</th>
        </tr>
    </thead>
    <tbody ng-repeat="(opUnitName, modules) in moduleNamesGroupedByOpunit">
    <tr class = 'header-with-opunit'>
        <th colspan="3">{{ opUnitName }}</th>
    </tr>
    <tr ng-repeat="moduleName in modules">
        <td>{{getModuleName(moduleName)}}</td>
        <td>
            <ul class="list-unstyled">
                <li ng-repeat="item in itemsAwaitingSubmission[moduleName] | orderBy: 'period'" ng-if="item.active">
                    <a  ng-if="hasRoles(['Data entry user'])" class="period" ng-class="{ 'error-label': item.failedToSync }" ng-href="{{getTemplateUrl(item)}}">{{formatPeriods(item.period)}}</a>
                    <span ng-if="!hasRoles(['Data entry user'])">{{formatPeriods(item.period)}}</span>
                </li>
            </ul>
        </td>
        <td>
            <ul class="list-unstyled">
                <li ng-repeat="item in itemsAwaitingApprovalAtOtherLevels[moduleName] | orderBy: 'period'" ng-if="item.active">
                    <a class="period" ng-class="{ 'error-label': item.failedToSync }" ng-href="{{getTemplateUrl(item)}}">{{formatPeriods(item.period)}}</a>
                    <span ng-if="item.awaitingActionAtProjectLevelApprover">- {{ resourceBundle.itemsAwaitingApprovalAtProjectLevel }}</span>
                    <span ng-if="item.awaitingActionAtCoordinationLevelApprover">- {{ resourceBundle.itemsAwaitingApprovalAtCoordinationLevel }}</span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>