<!-- temporary styling -->
<div style="margin:30px;">
	<a id="linkToDataEntry" ng-if="canEnterData()" href="#/data-entry" class="btn btn-default">Data Entry</a>
	<a id="linkToProjects" ng-if="canViewOrManageProjects()" href="#/projects" id="projects" class="btn btn-default">Projects</a>
	<a id="linkToDownloadData" ng-if="canTriggerDataSync()" href="" ng-click="syncNow()" class="btn btn-default">Download All Data</a>
	<span ng-show="isSyncRunning">{{resourceBundle.syncRunning}}</span>
	<span ng-show="isSyncDone">{{resourceBundle.syncComplete}}</span>
</div>