<div class="dataentrypage parent-margin" ng-controller="dashboardController"
     ng-if="hasRoles(['Data entry user', 'Project Level Approver', 'Coordination Level Approver','Observer'])">
    <div class="panel-group-custom-spacing">
        <div class="loading" ng-show="loading">
            <img src="img/ajax-loader.gif" class="spinner"/>
        </div>
        <div class="info-error-section">
            <div ng-show="approveSuccess &amp;&amp; hasRoles(['Project Level Approver'])" class="alert alert-success">
                {{resourceBundle.firstLevelApproveSuccess}}
            </div>
            <div ng-show="approveSuccess &amp;&amp; hasRoles(['Coordination Level Approver'])"
                 class="alert alert-success">{{resourceBundle.secondLevelApproveSuccess}}
            </div>
            <div ng-show="approveError" class="alert alert-danger">{{resourceBundle.dataApproveFailure}}</div>
        </div>
        <form name="approvalForm">
            <table class="table table-bordered msf-table" ng-if="itemsAwaitingApprovalAtUserLevel.length > 0">
                <caption class="msf-table-caption">{{resourceBundle.itemsAwaitingApprovalAtUserLevelLabel}}</caption>
                <thead>
                <tr>
                    <th>{{resourceBundle.moduleLabel}}</th>
                    <th ng-model="weeks">
                        <input type="checkbox" class="dashboard-form-checkbox"
                               ng-change="toggleSelectAll(selectedAllItemsForApproval)"
                               ng-model="selectedAllItemsForApproval"
                               ng-checked="(itemsAwaitingApprovalAtUserLevel | filter : { 'selectedForApproval': true}).length === itemsAwaitingApprovalAtUserLevel.length">{{resourceBundle.weekLabelForApproval}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(moduleId, items) in itemsAwaitingApprovalAtUserLevel | groupBy: 'moduleId' | toArray: true">
                    <td>{{items[0].moduleName}}</td>
                    <td>
                        <ul class="list-unstyled">
                            <li ng-repeat="item in items | orderBy: 'period'">
                                <input type="checkbox" class="dashboard-form-checkbox"
                                       ng-model="item.selectedForApproval"/>
                                <a ng-href="{{getTemplateUrl(item)}}">{{formatPeriods(item.period)}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit"
                               ng-disabled="(itemsAwaitingApprovalAtUserLevel | filter : { 'selectedForApproval': true}).length === 0"
                               value="{{resourceBundle.approveBtnValue}}" class="btn btn-default"
                               ng-click="bulkApprove()"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <form>
            <table class="table table-bordered msf-table" ng-if="itemsAwaitingSubmission.length > 0">
                <caption class="msf-table-caption">{{resourceBundle.itemsAwaitingDataSubmissionLabel}}</caption>
                <thead>
                <tr>
                    <th>{{resourceBundle.moduleLabel}}</th>
                    <th>{{resourceBundle.weekLabel}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(moduleId, items) in itemsAwaitingSubmission | groupBy: 'moduleId' | toArray: true">
                    <td>{{items[0].moduleName}}</td>
                    <td>
                        <ul class="list-unstyled">
                            <li ng-repeat="item in items | orderBy: 'period'">
                                <a ng-href="{{getTemplateUrl(item)}}" ng-if="hasRoles(['Data entry user'])"
                                   ng-class="{ 'errorHref': item.isNotSynced }">{{formatPeriods(item.period)}}</a>
                                <span ng-if="!hasRoles(['Data entry user'])"
                                      ng-class="{ 'errorHref': item.isNotSynced }">{{formatPeriods(item.period)}}</span>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-bordered msf-table" ng-if="itemsAwaitingApprovalAtOtherLevels.length > 0">
                <caption class="msf-table-caption" ng-if="!hasRoles(['Data entry user'])">
                    {{resourceBundle.itemsAwaitingApprovalAtOtherLevelLabel}}
                </caption>
                <caption class="msf-table-caption" ng-if="hasRoles(['Data entry user'])">
                    {{resourceBundle.itemsAwaitingApproval}}
                </caption>
                <thead>
                <tr>
                    <th>{{resourceBundle.moduleLabel}}</th>
                    <th>{{resourceBundle.weekLabel}}</th>
                    <th>{{resourceBundle.awaitingApprovalAtLabel}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(moduleId, items) in itemsAwaitingApprovalAtOtherLevels | groupBy: 'moduleId' | toArray: true">
                    <td>{{items[0].moduleName}}</td>
                    <td>
                        <ul class="list-unstyled">
                            <li ng-repeat="item in items | orderBy: 'period'">
                                <a ng-href="{{getTemplateUrl(item)}}" ng-if="hasRoles(['Data entry user', 'Observer'])">{{formatPeriods(item.period)}}</a>
                                <span ng-if="!hasRoles(['Data entry user','Observer'])">{{formatPeriods(item.period)}}</span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <li ng-repeat="item in items | orderBy: 'period'">
                                <span ng-if="!item.isComplete">{{ resourceBundle.itemsAwaitingApprovalAtProjectLevel }}</span>
                                <span ng-if="item.isComplete">{{ resourceBundle.itemsAwaitingApprovalAtCoordinationLevel }}</span>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>