<div class="dataentrypage parent-margin {{ layoutDirection.direction }} dashboardpage"
     ng-if="hasRoles(['Data entry user', 'Project Level Approver', 'Coordination Level Approver','Observer'])">
    <div class="panel-group-custom-spacing">
        <div class="info-error-section">
            <div ng-show="approveSuccess &amp;&amp; hasRoles(['Project Level Approver'])" class="alert alert-success">
                {{resourceBundle.firstLevelApproveSuccess}}
            </div>
            <div ng-show="approveSuccess &amp;&amp; hasRoles(['Coordination Level Approver'])"
                 class="alert alert-success">{{resourceBundle.secondLevelApproveSuccess}}
            </div>
            <div ng-show="approveError" class="alert alert-danger">{{resourceBundle.dataApproveFailure}}</div>
            <div class="alert alert-danger" ng-show="compatibilityInfo.incompatibleVersion">
                <i class="fa fa-warning"></i>&nbsp;
                {{ resourceBundle.incompatiblePraxisVersion }} {{ contactSupport }}
            </div>
        </div>

        <div ng-if="hasRoles(['Data entry user', 'Observer'])" ng-include="'templates/dashboard.data.entry.html'"></div>
        <div ng-if="!hasRoles(['Data entry user', 'Observer'])" ng-include="'templates/dashboard.data.approval.html'"></div>

    </div>
</div>