<div class="page-content dataentrypage">
<div ng-hide="week" class="alert alert-info">{{resourceBundle.chooseWeek}}</div>
<div ng-show="saveSuccess" class="alert alert-success">{{resourceBundle.dataSaveSuccess}}</div>
<div ng-show="submitSuccess" class="alert alert-success">{{resourceBundle.dataSubmittedForApproval}}</div>
<div ng-show="submitAndApprovalSuccess" class="alert alert-success">{{resourceBundle.dataSubmitAndApproved}}</div>
<div ng-show="(approveSuccess || isCompleted) &amp;&amp; !isAccepted" class="alert alert-success" ng-if="hasRoles(['Approver - Level 1'])">{{resourceBundle.firstLevelApproveSuccess}}</div>
<div ng-show="(approveSuccess || isApproved) &amp;&amp; !isAccepted" class="alert alert-success" ng-if="hasRoles(['Approver - Level 2'])">{{resourceBundle.secondLevelApproveSuccess}}</div>
<div ng-show="isAccepted &amp;&amp; week" class="alert alert-success">{{resourceBundle.thirdLevelApproveSuccess}}</div>
<div ng-show="saveError" class="alert alert-danger">{{resourceBundle.dataSaveFailure}}</div>
<div ng-show="submitError" class="alert alert-danger">{{resourceBundle.dataSubmitFailure}}</div>
<div ng-show="approveError" class="alert alert-danger">{{resourceBundle.dataApproveFailure}}</div>

	<div class="module-select"> 
		<weekselector year="year" month="month" week="week" labels="resourceBundle" language="currentUser.locale" on-change="resetForm()" start-date="organisationUnit.openingDate"></weekselector>
		<ul class="form">
			<li class="form-group">
				<label for="module">{{resourceBundle.moduleLabel}}</label>
				<select name="module" id="module" class="input-sm" ng-model="currentModule" ng-options="module.displayName for module in modules | orderBy:'displayName'" ng-change="resetForm()">
					<option value="">-</option>
				</select>
			</li>
			<li>
				<input type="button" ng-click="printWindow()" value="{{resourceBundle.printTallySheetBtnValue}}" ng-show="currentModule"></input>
			</li>
		</ul>
</div>
<div class="loading" ng-show="loading">
     <img src="img/ajax-loader.gif" class="spinner" />
</div>
<section class="panel tab-panel" ng-if="week &amp;&amp; currentModule">
<div class="alert alert-success" ng-if="!submitSuccess &amp;&amp; !submitAndApprovalSuccess &amp;&amp; isSubmitted &amp;&amp; !isAccepted &amp;&amp; hasRoles(['Data entry user'])" >{{resourceBundle.dataSubmittedForApproval}}</div>
<div class="alert alert-danger" ng-if="isDataFormInitialized &amp;&amp; !isSubmitted &amp;&amp; hasRoles(['Approver - Level 1'])" >{{resourceBundle.noDataForApproval}}</div>
<div class="alert alert-danger" ng-if="isDataFormInitialized &amp;&amp; !isCompleted &amp;&amp; hasRoles(['Approver - Level 2'])" >{{resourceBundle.noDataForApproval}}</div>
<form name="dataentryForm" id="dataentry" ng-if="(isSubmitted &amp;&amp; hasRoles(['Approver - Level 1'])) || (isCompleted &amp;&amp; hasRoles(['Approver - Level 2'])) || !hasRoles(['Approver - Level 1', 'Approver - Level 2'])">
		<accordion close-others="false">
			<accordion-group ng-repeat="(dataSetId, sections) in currentGroupedSections" is-open="getDatasetState(dataSetId, $first)[dataSetId]">
					<accordion-heading>
						<span ng-if="!resourceBundle[dataSetId]">{{ getDataSetName(dataSetId) }}</span>
						<span ng-if="resourceBundle[dataSetId]">{{ resourceBundle[dataSetId] }}</span>
						<i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isDatasetOpen[dataSetId], 'glyphicon-chevron-right': !isDatasetOpen[dataSetId]}"></i>
					</accordion-heading>
				<div class="exp-coll-group">
					<accordion close-others="false">
						<accordion-group ng-repeat="section in sections" is-open="isopen[section.id]" ng-form="sectionForm">
						<div class='alert alert-danger' ng-show='sectionForm.$error.pattern'>
							<p>{{resourceBundle.invalidExpression}}</p>
							
						</div>

						<accordion-heading>
						<span ng-if="resourceBundle[section.id]">{{ resourceBundle[section.id] }}</span> 
						<span ng-if="!resourceBundle[section.id]">{{ section.name }}</span> 
						<i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isopen[section.id], 'glyphicon-chevron-right': !isopen[section.id]}"></i>
					</accordion-heading>

					<table class="table table-bordered" ng-if="isDatasetOpen[dataSetId] || printingTallySheet">
						<tr ng-repeat="category in section.headers">
							<th></th>

							<th ng-repeat="option in category track by $index" colspan="{{ maxcolumns(section.headers) / category.length}}">
								<span ng-if="!resourceBundle[option.id]">{{option.name}}</span>
								<span ng-if="resourceBundle[option.id]">{{resourceBundle[option.id]}}</span>
							</th>
							<th ng-hide="$last" class="last-column">
							</th>
							<th ng-show="$last" class="last-column">
								{{ resourceBundle.totalLabel }}
							</th>
						</tr>
						<tr ng-repeat="dataElement in section.dataElements" ng-form="dataElementForm">
							<td> 
								<span ng-if="resourceBundle[dataElement.id]"> {{ resourceBundle[dataElement.id] }}</span> 
							 	<span ng-if="!resourceBundle[dataElement.id]"> {{ dataElement.formName }}</span> 
							</td> 
							<td ng-repeat="option in section.categoryOptionComboIds">
								<ng-form ng-class="{'has-error': datavalueForm.datavalue.$invalid}" name="datavalueForm">
									<input type="text" name="datavalue" id="datafield_{{$index}}" ng-pattern="validDataValuePattern" ng-model="safeGet(dataValues, dataElement.id, option)['value']" ng-focus="restoreExpression(dataElement.id, option)" class="form-control" ng-blur="evaluateExpression(dataElement.id, option)" ng-disabled="!hasRoles(['Data entry user']) || isAccepted" /><br/>
								</ng-form>
							</td>
							<td class="last-column">{{sum(dataValues[dataElement.id])}}</td>
						</tr>
					</table>
				</accordion-group>
			</accordion>
		</div>
	</accordion-group>
</accordion>
<div>
	<input type="submit" class="btn btn-main" id="dataEntrySave" ng-click="saveAsDraft()" ng-disabled="dataentryForm.$invalid || isReadOnly || isAccepted" ng-if="hasRoles(['Data entry user'])" ng-hide="isSubmitted" value="{{resourceBundle.saveBtnValue}}"/>
	<input type="submit" class="btn btn-main" id="dataEntrySubmit" ng-click="submit()" ng-disabled="isCurrentWeekSelected(week) || dataentryForm.$invalid || isReadOnly || isAccepted" ng-if="hasRoles(['Data entry user']) && !projectIsAutoApproved" value="{{resourceBundle.submitBtnValue}}" />
	<input type="submit" class="btn btn-main" id="dataEntrySubmitAndApprove" ng-click="submitAndApprove()" ng-disabled="isCurrentWeekSelected(week) || dataentryForm.$invalid || isReadOnly || isAccepted" ng-if="hasRoles(['Data entry user']) && projectIsAutoApproved" value="{{resourceBundle.submitBtnValue}}" />
	<input type="submit" class="btn btn-primary" ng-click="firstLevelApproval()" ng-disabled="dataentryForm.$invalid || isCompleted || isAccepted" ng-if="hasRoles(['Approver - Level 1'])"  value="{{resourceBundle.approveBtnValue}}" />
	<input type="submit" class="btn btn-primary" ng-click="secondLevelApproval()" ng-disabled="dataentryForm.$invalid || isApproved || isAccepted" ng-if="hasRoles(['Approver - Level 2'])"  value="{{resourceBundle.approveBtnValue}}" />
</div>
</form>
</section>
</div>
