<div ng-repeat="(dataSetId, sections) in groupedSections">
	<h3>{{ getDataSetName(dataSetId) }}</h3>
	<div ng-repeat="section in sections">
		<h4>{{ section.name }}</h4>
			<table border="1">
				<tr ng-repeat="categoryOptions in section.dataElements[0].categories">
					<th></th>
					<th ng-repeat="option in categoryOptions track by $index">
						{{option.name}}
					</th>
					<th ng-show="$last">
						Total
					</th>
				</tr>
				<tr ng-repeat="dataElement in section.dataElements">
	 				<td>{{ dataElement.name }}</td>
 					<td ng-repeat="option in section.dataElements[0].categories[0] track by $index">
						<input type="number" ng-model="sectionValues[section.id][dataElement.id][$index]"/>
					</td>
					<td>{{sum(sectionValues[section.id][dataElement.id])}}</td>
				</tr>
			</table>
	</div>
</div>