<div class="dataentrypage parent-margin approval-page">
    <div ng-include=" 'templates/partials/module-week-selector.html'"></div>
    <div ng-show="!approveError">
        <div ng-if="!isLineListModule &amp;&amp; !loading &amp;&amp; week &amp;&amp; selectedModule" ng-include="'templates/partials/aggregate-approval.html'">
        </div>
        <div ng-if="isLineListModule &amp;&amp; !loading &amp;&amp; week &amp;&amp; selectedModule" ng-include="'templates/partials/line-list-offline-approval.html'">
        </div>
    </div>
</div>
