<weekselector year="year" month="month" week="week"></weekselector>
<section class="panel tab-panel">
	<tabset>
		<tab heading="{{getDataSetName(dataSetId)}}" ng-repeat="(dataSetId, sections) in groupedSections">
			<div class="exp-coll-group">
				<accordion close-others="false">
					<accordion-group ng-repeat="section in sections" is-open="isopen[section.id]" ng-form="sectionForm">
					<div>
						<ul>
							<li  class='alert alert-danger' ng-show='sectionForm.$error.pattern'>{{resourceBundle.invalidExpression}}</li>
						</ul>
					</div>

					<accordion-heading>
					{{section.name}} <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isopen[section.id], 'glyphicon-chevron-right': !isopen[section.id]}"></i>
				</accordion-heading>

				<table class="table table-bordered">
					<tr ng-repeat="category in section.headers">
						<th></th>
						<th ng-repeat="option in category track by $index">
							{{option}}
						</th>
						<th ng-show="$last">
							Total
						</th>
					</tr>
					<tr ng-repeat="dataElement in section.dataElements" ng-form="dataElementForm">
						<td>{{ dataElement.name }}</td>
						<td ng-repeat="option in section.categoryOptionComboIds">
							<input type="text" ng-pattern="/^[0-9+]*$/" ng-model="sectionValues[section.id][dataElement.id][option]"/>
						</td>
						<td>{{sum(sectionValues[section.id][dataElement.id])}}</td>
					</tr>
				</table>
			</accordion-group>
		</accordion>
	</div>
</tab>
</tabset>
</section>