<div class="container">
	
<section class="panel tab-panel">
<tabset>
<tab heading="{{getDataSetName(dataSetId)}}" ng-repeat="(dataSetId, sections) in groupedSections">

	<accordion close-others="false">
		<accordion-group ng-repeat="section in sections" is-open="isopen[section]">
				<accordion-heading>
					{{section.name}} <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
				</accordion-heading>

				<table class="table">
					<tr ng-repeat="category in section.dataElements[0].categories">
						<th></th>
						<th ng-repeat="option in getRepeated(category.options, category.repeat)  track by $index" colspan="{{category.span}}">
							{{option.name}}
						</th>
						<th ng-show="$last">
							Total
						</th>
					</tr>
					<tr ng-repeat="dataElement in section.dataElements">
		 				<td>{{ dataElement.name }}</td>
	 					<td ng-repeat="option in getDataEntryCells(section.dataElements[0].categories[0]) track by $index">
							<input type="number" ng-model="sectionValues[section.id][dataElement.id][$index]"/>
						</td>
						<td>{{sum(sectionValues[section.id][dataElement.id])}}</td>
					</tr>
				</table>
		</accordion-group>
	</accordion>
</tab>
</tabset>
</div>