<div ng-controller="headerController">
    <header>
        <div class="container">
            <nav class="navbar">
                <div class="{{layoutDirection.direction}}">
                    <div class="navbar-header" ng-class="{'navbar-right': layoutDirection.direction == 'rtl'}">
                        <img src="img/logo.png" alt="" title="PRAXIS" id="logoImg" class="navbar-brand logo"
                             tabindex="-1" ng-if="!showTestLogo()">
                        <img src="img/logo-test.png" alt="" title="PRAXIS" id="logoImg" class="navbar-brand logo"
                             tabindex="-1" ng-if="showTestLogo()">
                        <label class="version-number">{{ versionNumber() }}</label>
                    </div>
                    <div class="nav navbar-nav" ng-class="{'navbar-right': layoutDirection.direction != 'rtl'}">
                        <p class="text-right login-message">
                                <span ng-show="isLoggedIn">
                                     <strong>{{currentUser.userCredentials.username}}</strong> |
                                </span>
                                <span>
                                    <a href="" description-popup
                                       dp-title="{{ resourceBundle.help }}"
                                       dp-desc="{{ getSupportEmailMessage() }}"
                                    >
                                    {{ resourceBundle.help }}
                                    </a>
                                </span>
                                <span ng-show="isLoggedIn">
                                    | <a href="" ng-click="logout()"
                                       tabindex="-1">{{ resourceBundle.logoutLabel }}</a>
                                </span>
                        </p>
                        <ul class="nav navbar-nav" ng-class="{'navbar-right': layoutDirection.direction != 'rtl'}">
                            <li class="sync-status" ng-if="remainingJobs >= 0 && !hideSyncStatus()">
                                <span class="badge dhis-online" ng-if="isDhisOnline && !poorConnection && remainingJobs > 0" title="{{ resourceBundle.online + getRemainingJobs() + resourceBundle.jobsInProgress }}">{{ getRemainingJobs() }}</span>
                                <span class="badge dhis-online" ng-if="isDhisOnline && !poorConnection && remainingJobs == 0" title="{{ resourceBundle.online  + resourceBundle.noPendingRequest }}">{{ getRemainingJobs() }}</span>
                                <span class="badge dhis-poor-connection" ng-if="poorConnection && remainingJobs > 0" title="{{ resourceBundle.poorConnection  + getRemainingJobs() + resourceBundle.pendingRequests }}">{{ getRemainingJobs() }}</span>
                                <span class="badge dhis-poor-connection" ng-if="poorConnection && remainingJobs == 0" title="{{ resourceBundle.poorConnection  + resourceBundle.noPendingRequest }}">{{ getRemainingJobs() }}</span>
                                <span class="badge dhis-offline" ng-if="!isDhisOnline && !poorConnection && remainingJobs > 0" title="{{ resourceBundle.offline  + getRemainingJobs() + resourceBundle.pendingRequests }}">{{ getRemainingJobs() }}</span>
                                <span class="badge dhis-offline" ng-if="!isDhisOnline && !poorConnection && remainingJobs == 0" title="{{ resourceBundle.offline  + resourceBundle.noPendingRequest }}">{{ getRemainingJobs() }}</span>
                            </li>
                            <li ng-hide="hideSyncStatus()">
                                <span class="glyphicon dhis-status"
                                      title="{{ networkStatus() }}"
                                      >
                                </span>
                            </li>
                            <li>
                                <div dropdown>
                                    <button type="button" class="btn btn-link dropdown-toggle hamburger-menu"
                                            dropdown-toggle ng-disabled="disabled">
                                        <i class="fa fa-bars" ng-attr-title="{{resourceBundle.menu}}"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" ng-if="isLoggedIn">
                                        <li ng-include="'templates/partials/download-data.html'"></li>
                                        <li><a href="#/selectProjectPreference" ng-if="hasRoles(['Projectadmin'])"
                                               tabindex="-1">{{resourceBundle.changeProject}}</a></li>
                                        <li class="divider"></li>
                                        <li><a href="" ng-click="gotoProductKeyPage()" tabindex="-1">{{
                                            resourceBundle.updateProductKeyMenuLabel }}</a></li>
                                        <li><a href="" ng-click="toggleSync()" ng-if="!isOffline">{{ resourceBundle.sync.turnOff }}</a></li>
                                        <li><a href="" ng-click="toggleSync()" ng-if="isOffline">{{ resourceBundle.sync.turnOn }}</a></li>
                                        <li class="dropdown-submenu"
                                            ng-class="{'pull-left': layoutDirection.direction != 'rtl'}"
                                            ng-include="'templates/partials/clone.html'"></li>
                                        <li class="clearfix"></li>
                                        <li class="divider"></li>
                                        <li><a href="" ng-click="uninstallPraxis()">{{ resourceBundle.uninstall.title }}</a></li>
                                    </ul>
                                    <ul class="dropdown-menu" role="menu" ng-if="!isLoggedIn">
                                        <li><a href="" ng-click="gotoProductKeyPage()" tabindex="-1">{{
                                            resourceBundle.updateProductKeyMenuLabel }}</a></li>
                                        <li ng-hide="hideSyncStatus()" ng-if="!isOffline"><a href="" ng-click="toggleSync()">{{ resourceBundle.sync.turnOff }}</a></li>
                                        <li ng-hide="hideSyncStatus()" ng-if="isOffline"><a href="" ng-click="toggleSync()">{{ resourceBundle.sync.turnOn }}</a></li>
                                        <li ng-hide="hideSyncStatus()" class="divider"></li>
                                        <li ng-hide="hideSyncStatus()"><a href="" ng-click="uninstallPraxis()">{{ resourceBundle.uninstall.title }}</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container info-bar {{layoutDirection.direction}}">
        <div class="alert alert-danger" ng-if="isOffline">
            <li>{{ resourceBundle.sync.turnOffMessage }}</li>
        </div>
    </div>
    <div class="container hide-from-print {{layoutDirection.direction}}" style="padding-top:10px;" ng-if="isLoggedIn">
        <ul class="nav nav-tabs main-menu">
            <li role="presentation" ng-class="{ active: isActive('\/dashboard$')}"
                ng-if="hasRoles(['Coordination Level Approver', 'Observer', 'Project Level Approver', 'Data entry user'])">
                <a href="#/dashboard">
                    <i class="fa fa-home"></i>
                    {{ resourceBundle.homeMenuLabel }}
                </a>
            </li>

            <li dropdown role="presentation" ng-class="{ active: isActive('\/data-approval')}" class="dropdown praxis-dropdown-menu"
                ng-if="hasRoles(['Project Level Approver', 'Coordination Level Approver']) && allUserModules.length > 0">
                <a class="dropdown-toggle" dropdown-toggle href="" role="button">
                    <i class="fa fa-check-square-o"></i>
                    {{ resourceBundle.approveDataLabel }}
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu multi-level" role="menu">
                    <li class="dropdown-submenu"
                        ng-repeat="opUnit in allOpUnitsWithModules | orderBy: 'name' "
                        ng-class="{'pull-left': layoutDirection.direction == 'rtl' }">
                        <a class="dropdown-toggle">
                            {{ opUnit.name }}
                            <i class="fa" ng-class="layoutDirection.direction == 'rtl' ? 'fa-caret-left' : 'fa-caret-right'"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="module in opUnit.modules | orderBy:'name'">
                                <a class="submenu-item" ng-href="#/data-approval/{{ module.id }}" tabindex="-1">{{ module.name }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li dropdown role="presentation" ng-class="{ active: isActive('\/data-approval')}" class="dropdown praxis-dropdown-menu"
                ng-if="hasRoles(['Observer']) && allUserModules.length > 0">
                <a class="dropdown-toggle" dropdown-toggle href="" role="button">
                    <i class="fa fa-database"></i>
                    {{ resourceBundle.observerDataLabel }}
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu multi-level" role="menu">
                    <li class="dropdown-submenu"
                        ng-repeat="opUnit in allOpUnitsWithModules | orderBy: 'name' "
                        ng-class="{'pull-left': layoutDirection.direction == 'rtl' }">
                        <a class="dropdown-toggle">
                            {{ opUnit.name }}
                            <i class="fa" ng-class="layoutDirection.direction == 'rtl' ? 'fa-caret-left' : 'fa-caret-right'"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="module in opUnit.modules | orderBy:'name'">
                                <a class="submenu-item" ng-href="#/data-approval/{{ module.id }}" tabindex="-1">{{ module.name }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li dropdown role="presentation" ng-class="{ active: isActive('\/aggregate-data-entry')}" class="dropdown praxis-dropdown-menu"
                ng-if="hasRoles(['Data entry user']) && (allUserModules | filter: {isLineListService:false}).length > 0">
                <a class="dropdown-toggle" dropdown-toggle href="" role="button">
                    <i class="fa fa-pencil"></i>
                    {{ resourceBundle.dataEntryLabel }}
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu multi-level" role="menu">
                    <li class="dropdown-submenu"
                        ng-repeat="opUnit in allOpUnitsWithModules | orderBy: 'name' "
                        ng-class="{'pull-left': layoutDirection.direction == 'rtl' }">
                        <a class="dropdown-toggle">
                            {{ opUnit.name }}
                            <i class="fa" ng-class="layoutDirection.direction == 'rtl' ? 'fa-caret-left' : 'fa-caret-right'"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="module in opUnit.modules | filter: {isLineListService:false} | orderBy:'name'">
                                <a class="submenu-item" ng-href="#/aggregate-data-entry/{{ module.id }}" tabindex="-1">{{ module.name }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li dropdown role="presentation" ng-class="{ active: isActive('\/line-list')}" class="dropdown praxis-dropdown-menu"
                ng-if="hasRoles(['Data entry user']) && (allUserModules | filter: {isLineListService:true}).length > 0">
                <a class="dropdown-toggle" dropdown-toggle href="" role="button">
                    <i class="fa fa-pencil"></i>
                    {{ resourceBundle.lineListDataEntryMenuLabel }}
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu multi-level" role="menu">
                    <li class="dropdown-submenu"
                        ng-repeat="opUnit in allOpUnitsWithModules | orderBy: 'name' "
                        ng-class="{'pull-left': layoutDirection.direction == 'rtl' }"
                        ng-if="(opUnit.modules | filter: {isLineListService:true}).length > 0">
                        <a class="dropdown-toggle">
                            {{ opUnit.name }}
                            <i class="fa" ng-class="layoutDirection.direction == 'rtl' ? 'fa-caret-left' : 'fa-caret-right'"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="module in opUnit.modules | filter: {isLineListService:true} | orderBy:'name'">
                                <a class="submenu-item" ng-href="#/line-list-summary/{{ module.id }}" tabindex="-1">{{ module.name }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li role="presentation" ng-class="{ active: isActive('\/reports') || isActive('\/projectReport') || isActive('\/opUnitReport') }"
                class="dropdown praxis-dropdown-menu"
                ng-if="hasRoles(['Coordination Level Approver', 'Observer', 'Project Level Approver', 'Data entry user']) && allUserModules.length > 0"
                dropdown>
                <a class="dropdown-toggle" dropdown-toggle href="" role="button">
                    <i class="fa fa-bar-chart"></i>
                    {{ resourceBundle.reportsLabel }}
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu multi-level" role="menu">
                    <li class="dropdown-submenu"
                        ng-repeat="opUnit in allOpUnitsWithModules | orderBy: 'name' "
                        ng-class="{'pull-left': layoutDirection.direction == 'rtl' }">
                        <a class="dropdown-toggle">
                            {{ opUnit.name }}
                            <i class="fa"
                               ng-class="layoutDirection.direction == 'rtl' ? 'fa-caret-left' : 'fa-caret-right'"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="module in opUnit.modules | orderBy:'name'">
                                <a class="submenu-item" ng-href="#/reports/{{ module.id }}" tabindex="-1">{{ module.name }}</a>
                            </li>
                            <li class="divider" ng-if="opUnit.modules.length > 0"></li>
                            <li>
                                <a class="submenu-item" href="#/opUnitReport/{{ opUnit.id }}">{{ opUnit.name }} {{ resourceBundle.reportLabel }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="clearfix"></li>
                    <li class="divider"></li>
                    <li>
                        <a class="dropdown-toggle" href="#/projectReport">
                            {{ resourceBundle.projectReportLabel }}
                        </a>
                    </li>
                </ul>
            </li>
            <li role="presentation" ng-class="{ active: isActive('\/notifications$')}"
                ng-if="hasRoles(['Coordination Level Approver', 'Observer', 'Project Level Approver', 'Data entry user'])">
                <a href="#/notifications"><i class="fa fa-bell-o"></i>
                    {{ resourceBundle.notificationsLabel }}
                </a>
            </li>
            <li role="presentation" ng-class="{ active: isActive('\/orgUnits$')}" ng-if="hasRoles(['Superadmin'])">
                <a href="#/orgUnits">
                    <i class="fa fa-globe"></i>
                    {{ resourceBundle.countryLabel }}
                </a>
            </li>
            <li role="presentation" ng-class="{ active: isActive('\/orgUnits$')}" ng-if="hasRoles(['Projectadmin'])">
                <a href="#/orgUnits">
                    <i class="fa fa-gear"></i>
                    {{ resourceBundle.projectsLabel }}
                </a>
            </li>
            <li ng-show="canChangeProject(isLoggedIn, hasRoles(['Coordination Level Approver']))"
                ng-class="layoutDirection.direction == 'rtl' ? 'pull-left' : 'pull-right'">
                <select name="project" class="select_project input-sm" ng-model="selectedProject"
                        ng-options="p.name for p in projects | orderBy:'name'"
                        ng-change="setSelectedProject(selectedProject)">
                </select>
            </li>
        </ul>
    </div>
</div>
