<div class="dataentrypage">
    <div class="loading" ng-show="loading">
        <img src="img/ajax-loader.gif" class="spinner" />
    </div>
    <section id="top" class="panel tab-panel">
        <form name="eventDataEntryForm" id="eventDataEntryForm" class="form-horizontal">
            <accordion close-others="false">
                <accordion-group is-open="true">
                    <accordion-heading>
                        <span>{{ program.name }}</span>
                    </accordion-heading>

                    <div class="exp-coll-group" ng-repeat="programStage in program.programStages">
                        <div class="clearfix">
                            <div class="col-md-3"></div>
                            <div class="form-group col-md-6">
                                <label for="patientOrigin" class="required">{{ resourceBundle.patientOriginLabel }}</label>
                                <select ng-options="o.name for o in originOrgUnits | orderBy: 'name'" ng-model="patientOrigin.selected" id="patientOrigin" required>
                                    <option value=""></option>
                                </select>
                                <span class="errortxt" ng-show="eventDataEntryForm.patientOrigin.$error.required && eventDataEntryForm.patientOrigin.$dirty">{{ resourceBundle.patientOriginValidation}}</span>
                            </div>
                            <br>
                        </div>

                        <accordion close-others="false">
                            <accordion-group ng-repeat="section in programStage.programStageSections | orderBy: 'sortOrder'" is-open="true" ng-if="section.isIncluded">
                                <accordion-heading>
                                    <span>{{ section.name }}</span>
                                </accordion-heading>

                                <div ng-repeat="programStageDE in section.programStageDataElements"
                                     class="clearfix"
                                     ng-if="programStageDE.dataElement.isIncluded"
                                     ng-init="psdeFormName = 'eventValue_' + program.id + '_' + programStage.id + '_' + programStageDE.dataElement.id">

                                    <div class="col-md-3"></div>

                                    <div class="col-md-6 form-group">
                                        <label ng-class="{'required': programStageDE.compulsory}" ng-if="isReferralLocationPresent(programStageDE.dataElement)">
                                            <a href="#" description-popup dp-title="{{ programStageDE.dataElement.formName }}" dp-desc="{{ programStageDE.dataElement.description }}" resource-bundle="resourceBundle">{{ programStageDE.dataElement.formName }}</a>
                                        </label>

                                        <div ng-if="!isReferralLocationPresent(programStageDE.dataElement)">
                                            <span>{{ resourceBundle.noReferralLocationsMessage }}</span>
                                        </div>

                                        <input ng-model="dataValues[programStageDE.dataElement.id]"
                                               class="form-control"
                                               name="{{psdeFormName}}"
                                               type="text"
                                               ng-if="programStageDE.dataElement.type === 'TEXT' && !programStageDE.dataElement.optionSet" />

                                        <input ng-model="dataValues[programStageDE.dataElement.id]"
                                               class="form-control"
                                               name="{{psdeFormName}}"
                                               type="number"
                                               ng-if="programStageDE.dataElement.type === 'NUMBER' && !programStageDE.dataElement.optionSet"
                                               ng-pattern="getNumberPattern(programStageDE.dataElement)" />

                                        <input ng-model="dataValues[programStageDE.dataElement.id]"
                                               class="form-control"
                                               name="{{psdeFormName}}"
                                               type="date"
                                               ng-if="programStageDE.dataElement.type === 'DATE' && !programStageDE.dataElement.optionSet && !isEventDateSubstitute(programStageDE.dataElement)" />

                                        <input ng-model="dataValues[programStageDE.dataElement.id]"
                                               class="form-control"
                                               name="{{psdeFormName}}"
                                               type="date"
                                               ng-if="programStageDE.dataElement.type === 'DATE' && !programStageDE.dataElement.optionSet && isEventDateSubstitute(programStageDE.dataElement)"
                                               max="{{maxEventDate}}"
                                               min="{{minEventDate}}"
                                               required />

                                        <div ng-if="programStageDE.dataElement.type === 'DATETIME'" class="date-time-form-control">
                                            <input type="datetime-local" class="form-control" ng-model="dataValues[programStageDE.dataElement.id]" name="{{psdeFormName}}" ng-if="!isEventDateSubstitute(programStageDE.dataElement)" />
                                            <input type="datetime-local" class="form-control" ng-model="dataValues[programStageDE.dataElement.id]" name="{{psdeFormName}}" ng-if="isEventDateSubstitute(programStageDE.dataElement)"
                                                   max="{{maxEventDate}}" min="{{minEventDate}}" required />
                                            <div class="current-date-time-button">
                                                <a ng-click="setCurrentDate(programStageDE.dataElement.id)">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </a>
                                            </div>
                                        </div>

                                        <div ng-if="programStageDE.dataElement.type === 'BOOLEAN' && !programStageDE.dataElement.optionSet" class="col-sm-8 col-md-8 form-inline">
                                            <div class="radio-inline">
                                                <label>
                                                    <input type="radio" ng-model="dataValues[programStageDE.dataElement.id]" value="true" /> {{resourceBundle.yesLabel}}
                                                </label>
                                            </div>
                                            <div class="radio-inline">
                                                <label>
                                                    <input type="radio" ng-model="dataValues[programStageDE.dataElement.id]" value="false" /> {{resourceBundle.noLabel}}
                                                </label>
                                            </div>
                                        </div>

                                        <div angucomplete-alt=""
                                             ng-if="programStageDE.dataElement.optionSet && (optionSetMapping[programStageDE.dataElement.optionSet.id] !== undefined) && !isReferralLocationOptionSet(programStageDE.dataElement.optionSet)"
                                             name="{{programStageDE.dataElement.id}}"
                                             placeholder="{{ resourceBundle.startTypingLabel }}"
                                             pause="100"
                                             selected-object="dataValues[programStageDE.dataElement.id]"
                                             local-data="optionSetMapping[programStageDE.dataElement.optionSet.id]"
                                             search-fields="name"
                                             title-field="name"
                                             initial-value="{{dataValues[programStageDE.dataElement.id].name}}"
                                             minlength="0"
                                             input-class="form-control form-control-small"
                                             match-class="highlight"
                                             class="ng-isolate-scope">
                                        </div>

                                        <div angucomplete-alt=""
                                             ng-if="programStageDE.dataElement.optionSet && (optionSetMapping[programStageDE.dataElement.optionSet.id] !== undefined) && isReferralLocationOptionSet(programStageDE.dataElement.optionSet)"
                                             name="{{programStageDE.dataElement.id}}"
                                             placeholder="{{ resourceBundle.startTypingLabel }}"
                                             pause="100"
                                             selected-object="dataValues[programStageDE.dataElement.id]"
                                             local-data="optionSetMapping[programStageDE.dataElement.optionSet.id]"
                                             search-fields="displayName"
                                             title-field="displayName"
                                             initial-value="{{dataValues[programStageDE.dataElement.id].displayName}}"
                                             minlength="0"
                                             input-class="form-control form-control-small"
                                             match-class="highlight"
                                             class="ng-isolate-scope">
                                        </div>

                                        <div ng-show="eventDataEntryForm[psdeFormName].$dirty && eventDataEntryForm[psdeFormName].$invalid">
                                            <span class="errortxt" ng-show="eventDataEntryForm[psdeFormName].$error.required"> {{programStageDE.dataElement.formName}} {{resourceBundle.required}}</span>
                                            <span class="errortxt" ng-show="eventDataEntryForm[psdeFormName].$error.date"> {{resourceBundle.dateInvalid}}</span>
                                            <span class="errortxt" ng-show="eventDataEntryForm[psdeFormName].$error.datetimelocal"> {{resourceBundle.dateInvalid}}</span>
                                            <span class="errortxt" ng-show="eventDataEntryForm[psdeFormName].$error.min || eventDataEntryForm[psdeFormName].$error.max"> {{resourceBundle.invalidDateRangeMessage}}</span>
                                            <span class="errortxt" ng-show="eventDataEntryForm[psdeFormName].$error.pattern">{{resourceBundle.invalidPattern}}</span>
                                        </div>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                        <ul>
                            <li>
                                <div class="text-center">
                                    <input type="button" class="btn btn-main" ng-disabled="eventDataEntryForm.$invalid" ng-if="isNewMode" value="{{ resourceBundle.saveCaseBtnValue }}" ng-click="save()" />
                                    <input type="button" class="btn btn-main" ng-disabled="eventDataEntryForm.$invalid" ng-if="isNewMode" value="{{ resourceBundle.saveAndAddAnotherBtnValue }}" ng-click="save(true)" />
                                    <input type="button" class="btn btn-main" ng-disabled="eventDataEntryForm.$invalid" ng-if="!isNewMode" value="{{ resourceBundle.updateBtnValue }}" ng-click="update()" />
                                    <input type="button" class="btn btn-main" value="{{ resourceBundle.cancelLabel }}" ng-click="loadEventsView()" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </accordion-group>
            </accordion>
        </form>
    </section>
</div>