<div class="login-form {{ layoutDirection.direction }}" ng-show="showLoginForm">
    <form name="loginForm" role="form" ng-submit="login()" class="form-horizontal">
        <p class='alert alert-danger' ng-show='invalidCredentials' id="loginFailedMsg">{{ resourceBundle.loginFailed }}</p>
        <p class='alert alert-danger' ng-show='invalidAccess' id="invalidAccessMsg">{{ resourceBundle.invalidAccess }}</p>
        <p class='alert alert-danger' ng-show='disabledCredentials' id="userDisabledMsg">{{ resourceBundle.disabledCredentials }}</p>
        <p class='alert alert-danger' ng-show='compatibilityInfo.incompatibleVersion'>
            {{ resourceBundle.incompatiblePraxisVersion }}<br>
            {{ contactSupport }}
        </p>
        <p class='alert alert-info' ng-show="compatibilityInfo.newerVersionAvailable">
            {{ resourceBundle.praxis + ' ' + compatibilityInfo.newerVersionNumber + ' ' + resourceBundle.newUpgradeAvailable }}
        </p>
        <div class="well">
            <div class="form-group">
                <label for="username">{{ resourceBundle.usernameLabel }}</label>
                <input type="text" class="form-control" id="username" ng-model="username" placeholder="{{ resourceBundle.usernameLabel }}" autocomplete="off" autofocus required ng-disabled="compatibilityInfo.incompatibleVersion">
            </div>
            <div class="form-group">
                <label for="password">{{ resourceBundle.passwordLabel }}</label>
                <input type="password" class="form-control" id="password" ng-model="password" placeholder="{{ resourceBundle.passwordLabel }}" required ng-disabled="compatibilityInfo.incompatibleVersion">
            </div>
            <div class="form-group">
                <button type="submit" id="loginButton" ng-disabled="loginForm.$invalid || compatibilityInfo.incompatibleVersion" class="btn btn-block btn-primary">
                    {{ resourceBundle.loginBtn }}
                </button>
            </div>
        </div>
    </form>
    <div ng-include="'templates/partials/select-language.html'"></div>
</div>
