<div class="login-form">
    <form name="loginForm" role="form" ng-submit="login()" class="form-horizontal">
        <p class='alert alert-danger' ng-show='invalidCredentials' id="loginFailedMsg">{{ resourceBundle.loginFailed }}</p>
        <p class='alert alert-danger' ng-show='invalidAccess' id="invalidAccessMsg">{{ resourceBundle.invalidAccess }}</p>
        <p class='alert alert-danger' ng-show='disabledCredentials' id="userDisabledMsg">{{ resourceBundle.disabledCredentials }}</p>
        <p class='alert alert-danger' ng-show='incompatibleVersion'>
            {{ resourceBundle.incompatiblePraxisVersion }}<br>
            {{ resourceBundle.clickToUpgrade }}
            <a href="https://chrome.google.com/webstore/detail/praxis/{{extension_id}}" target="_blank">{{ resourceBundle.here }}</a>
        </p>
        <p class='alert alert-info' ng-show="newerVersionAvailable">
            {{ resourceBundle.praxis + ' v' + newerVersionNumber + ' ' + resourceBundle.newUpgradeAvailable }}
            {{ resourceBundle.clickToUpgrade }}
            <a href="https://chrome.google.com/webstore/detail/praxis/{{extension_id}}" target="_blank">{{ resourceBundle.here }}</a>
        </p>
        <ul>
            <li class="form-group">
                <label for="username" class="col-sm-4 control-label">{{ resourceBundle.usernameLabel }}</label>
                <div class="col-sm-8 col-md-8">
                    <input type="text" class="form-control" id="username" ng-model="username" placeholder="{{ resourceBundle.usernameLabel }}" autofocus required>
                </div>
            </li>
            <li class="form-group">
                <label for="password" class="col-sm-4 control-label">{{ resourceBundle.passwordLabel }}</label>
                <div class="col-sm-8 col-md-8">
                    <input type="password" class="form-control" id="password" ng-model="password" placeholder="{{ resourceBundle.passwordLabel }}" required>
                </div>
            </li>
            <li class="form-group">
                <div class=" col-sm-offset-4 col-md-offset-4 col-sm-8">
                    <input type="submit" ng-disabled="loginForm.$invalid || incompatibleVersion" value="{{ resourceBundle.loginBtn }}" class="btn btn-primary" id="loginButton">
                </div>
            </li>

            <li ng-include="'templates/partials/select-language.html'"></li>
        </ul>
    </form>
</div>
