<div ng-controller="notificationsController">
    <div ng-repeat="(moduleName, dataElementValues) in allDataElementValues | groupBy : 'moduleName'">
        <h4 class="col-md-4 col-md-offset-4">{{moduleName}}</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Data Element Name</th>
                    <th ng-repeat="week in weeks">
                        {{week}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="dataElementValue.showInNotifications" ng-repeat="dataElementValue in dataElementValues">
                    <td>{{dataElementValue.dataElementName}}</td>
                    <td ng-class="{ 'blue-cell' : (dataElementValue.weeklyData[week]['value'] < dataElementValue.weeklyData[week]['min']), 'red-cell': (dataElementValue.weeklyData[week]['value'] > dataElementValue.weeklyData[week]['max']) }" ng-repeat="week in weeks">
                        {{dataElementValue.weeklyData[week]['value']}}
                        <p class="glyphicon glyphicon-arrow-up" ng-if="dataElementValue.weeklyData[week]['value'] > dataElementValue.weeklyData[week]['max']"></p>
                        <p class="glyphicon glyphicon-arrow-down" ng-if="dataElementValue.weeklyData[week]['value'] < dataElementValue.weeklyData[week]['min']"></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
