<div class="dataentrypage parent-margin {{ layoutDirection.direction}}">
    <div class="loading" ng-show="loading">
        <img src="img/ajax-loader.gif" class="spinner"/>
    </div>
    <section class="tab-panel">
        <div class="alert alert-info" ng-if="noNotificationsForAnyModule"> {{resourceBundle.noNotificationsForAnyModule}} </div>
        <div ng-repeat="(moduleName, dataElementValues) in allDataElementValues | groupBy : 'moduleName'" ng-if="showTable(dataElementValues)">
            <br ng-if="!$first" />
            <h4 class="">{{moduleName}}</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ resourceBundle.dataElement }}</th>
                        <th ng-repeat="week in weeks">
                            {{week}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="dataElementValue.showInNotifications" ng-repeat="dataElementValue in dataElementValues">
                        <td>
                            <a class="changeColor"
                               description-popup
                               dp-title="{{ dataElementValue.dataElementName }}"
                               dp-desc="{{ dataElementValue.dataElementDescription }}"
                               >
                            {{ dataElementValue.dataElementName }}
                            </a>
                        </td>
                        <td ng-class="{'red-cell': (dataElementValue.weeklyData[week]['value'] > dataElementValue.weeklyData[week]['max']) }" ng-repeat="week in weeks">
                            {{dataElementValue.weeklyData[week]['value']}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
