<div class="report-table dataentrypage parent-margin report-container">
    <section class="panel tab-panel">

        <div class="row">
            <div class="col-md-8">
                <h4>{{opUnitName}} {{resourceBundle.reportLabel}}</h4>
                <span class="text-info" ><strong>{{ resourceBundle.updated }} {{ lastUpdatedTimeForOpUnitReport }} </strong></span>
            </div>

            <div class="col-md-4">
                <button class="btn btn-sm btn-primary pull-right">
                    {{resourceBundle.downloadReport}}
                </button>
            </div>

        </div>

        <div>
            <h4 class="text-center">{{resourceBundle.noDataAvailable}}</h4>
        </div>
    </section>
</div>
