<div class="report-table dataentrypage parent-margin report-container">
    <section class="panel tab-panel">

        <div class="row spacing-div-accordian">
            <div class="col-md-8">
                <h4>{{opUnitName}} {{resourceBundle.reportLabel}}</h4>
                <span class="text-info" ><strong>{{ resourceBundle.updated }} {{ lastUpdatedTimeForOpUnitReport }} </strong></span>
            </div>

            <div class="col-md-4">
                <button class="btn btn-sm btn-primary pull-right" ng-disabled="pivotTables | isEmpty" ng-click="exportToExcel()">
                    {{resourceBundle.downloadReport}}
                </button>
            </div>
        </div>

        <div ng-if="(pivotTables | isEmpty)">
            <h4 class="text-center">{{resourceBundle.noDataAvailable}}</h4>
        </div>

        <div ng-if="(pivotTables)" class="exp-coll-group">
            <div ng-repeat="table in pivotTables" ng-show="table.isDataAvailable">
                <accordion >
                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            <span>{{ table.title }}</span>
                            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </accordion-heading>
                        <div>
                            <pivot-table table="table" resource-bundle="resourceBundle" disable-download="true"></pivot-table>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </section>
</div>
