<section class="panel tab-panel">
	<div class="row">
		<div class="col-md-4">
			<treeview
			tree-model="organisationUnits"
			node-id="id"
			node-label="name"
			node-children="children"
			on-node-select="onOrgUnitSelect"
			state="state"
			/>
		</div>
		<div class="col-md-8">
			<div class="row">
				<input type="button" class="btn btn-primary pull-right" ng-value="'Create ' + getLevel(orgUnit, 1)" ng-show="canCreateChild(orgUnit) &amp;&amp; !isEditMode" ng-click="setTemplateUrl(orgUnit, true, 1)"/>
				<input type="button" class="btn btn-primary pull-right" ng-value="'Create ' + getLevel(orgUnit, 2)" ng-show="canCreateMulitpleChildType(orgUnit)" ng-click="setTemplateUrl(orgUnit, true, 2)"/>
			</div>
			<div ng-include="templateUrl">
			</div>
		</div>
	</div>
</section>