<div>
    <button class="col-md-2 exportCSV-btn" href="" ng-csv="getData()" csv-header="getHeaders()" filename="{{getCsvFileName()}}">
        {{resourceBundle.exportAsCsv}}
    </button>
    <div class="scroll-horizontal m-top-30">
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th>{{resourceBundle.dataElement}}</th>
                    <th ng-if="isCategoryPresent &amp;&amp; !hasOnlyOneCategory">{{resourceBundle.category}}</th>
                    <th ng-repeat="period in periods" ng-show="periodBasedValues[period] !== 0">
                        <span>{{data.metaData.names[period]}}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="datum in viewMap | orderBy: 'sortOrder'">
                    <td>{{getDataElementName(data.metaData.names[datum.dataElement])}}</td>
                    <td ng-if="isCategoryPresent &amp;&amp; !hasOnlyOneCategory">{{data.metaData.names[datum.category]}}</td>
                    <td ng-repeat="period in periods" ng-show="periodBasedValues[period] !== 0">
                        <span> {{getValue(datum.category,datum.dataElement,period)}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
