<div>
    <h3 class="text-center" ng-if="getTableName(definition.name)">{{getTableName(definition.name)}}</h3>
    <button class="col-md-2 exportCSV-btn" href="" ng-csv="getData()" csv-header="getHeaders()" filename="report.csv">
        {{exportButtonName}}
    </button>
    <div class="scroll-horizontal m-top-30">
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th>Data Element</th>
                    <th ng-if="isCategoryPresent">Category</th>
                    <th ng-repeat="period in periods">
                        <span>{{data.metaData.names[period]}}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="datum in viewMap | orderBy: 'sortOrder'">
                    <td>{{getDataElementName(data.metaData.names[datum.dataElement])}}</td>
                    <td ng-if="isCategoryPresent">{{data.metaData.names[datum.category]}}</td>
                    <td ng-repeat="period in periods">
                        <span> {{getValue(datum.category,datum.dataElement,period)}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
