<div class="product-key-form">
<form name="productKeyForm" role="form" ng-submit="setAuthHeaderAndProceed()">
	<ul class="form-horizontal">
   <li class="form-group">
    <label for="productKey" class="col-sm-4 control-label">Enter Product Key</label>
    <div class="col-sm-8">
    	<input type="text" class="form-control" id="productKey" ng-model="productKey" placeholder="Product Key" autofocus required>
    <div class="col-sm-8">
  </li>
  <li class="form-group">
   <div class=" col-sm-offset-4 col-md-offset-4 col-sm-8">
  <input type="submit" ng-disabled="productKeyForm.$invalid" value="Submit" class="btn btn-primary" id="submitButton">
</div>
  </li>
  </ul>
</form>
</div>



