<div class="position-relative report-container">
    <h4>{{resourceBundle.projectBaselineReportLabel}} - {{ projectName }}</h4>

    <button class="col-md-2 exportCSV-btn-project-baseline btn btn-xs btn-primary">
        {{resourceBundle.exportAsCsv}}
    </button>


    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <h3><th colspan="2">{{ resourceBundle.projectInformationLabel }}</th></h3>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="projectBasicInfo in projectAttributes">
            <td> {{ projectBasicInfo.name }} </td>
            <td> {{ projectBasicInfo.value }} </td>
        </tr>
        </tbody>
    </table>

    <div class="exp-coll-group">
        <div ng-repeat="table in pivotTables">
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        <span>{{getTableName(table.table.name)}}</span>
                        <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <div>
                        <pivot-table definition="table.table" data="table.data" show-weeks="true" resource-bundle="resourceBundle" show-download="false"></pivot-table>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>
