<div class="report-table dataentrypage parent-margin report-container">
    <section class="panel tab-panel">

        <div class="row">
            <div class="col-md-8">
                <h4>{{resourceBundle.projectReportLabel}}: {{ selectedProject.name }}</h4>
                <span class="text-info" ng-show="lastUpdatedTimeForProjectReport"><strong>{{ resourceBundle.updated }}: {{ lastUpdatedTimeForProjectReport }}</strong></span>
            </div>

            <div class="col-md-4">
                <button ng-disabled="(pivotTables | filter: { isDataAvailable: true }).length == 0" class="btn btn-sm btn-primary pull-right" ng-click="exportToExcel()">
                    {{resourceBundle.downloadReport}}
                </button>
            </div>

        </div>

        <div class="row mb15">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <h3><th colspan="2">{{ resourceBundle.projectInformationLabel }}</th></h3>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="projectBasicInfo in projectAttributes">
                        <td> {{ projectBasicInfo.name }} </td>
                        <td> {{ projectBasicInfo.value }} </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <ul class="nav nav-tabs">
                <li role="presentation" ng-repeat="year in last4years" ng-class="{ 'active': selectedYear === year }">
                    <a href="#" ng-click="setSelectedYear(year)">{{ year }}</a>
                </li>
            </ul>
        </div>

        <div ng-show="(pivotTables | filter: { isDataAvailable: true }).length == 0">
            <h4 class="text-center">{{resourceBundle.noDataAvailable}}</h4>
        </div>
        <div ng-if="!(pivotTables | isEmpty)" class="exp-coll-group">
            <div ng-repeat="table in pivotTables" ng-show="table.isDataAvailable">
                <accordion>
                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            <span>{{ table.title }}</span>
                            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </accordion-heading>
                        <div>
                            <pivot-table table="table" resource-bundle="resourceBundle" disable-download="true"></pivot-table>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </section>
</div>
