<div class="dataentrypage parent-margin report-container">

    <section class="panel tab-panel">
        <div class="row">
            <div class="col-md-12">
                <h4>{{ orgUnit.displayName }}
                <i class="fa fa-info-circle" aria-hidden="true" tooltip-placement="top" tooltip-trigger="click mouseenter" tooltip="{{ resourceBundle.dataAvailabilityMessage.daily }}"></i>
                </h4>
            </div>
        </div>
        <div class="row form-inline">
            <div class="col-md-12 form-group">
                <div role="toolbar">
                    <div class="btn-group" role="group">
                        <div>{{ resourceBundle.selectServiceNameLabel }}:</div>
                    </div>
                    <div class="btn-group service" role="group" ng-repeat="service in services">
                        <button type="button" class="btn btn-sm btn-default" ng-class="{'btn-primary active': selectedService == service }" ng-click="setSelectedService(service)">{{ service.name }}</button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li ng-class="{ 'active': currentTab == 'weeklyReport'}"><a ng-click="currentTab = 'weeklyReport'">{{resourceBundle.weeklyReports}}</a></li>
            <li ng-class="{ 'active': currentTab == 'monthlyReport'}"><a ng-click="currentTab = 'monthlyReport'">{{resourceBundle.monthlyReports}}</a></li>
            <li ng-class="{ 'active': currentTab == 'exportRawData'}"><a ng-click="currentTab = 'exportRawData'">{{ resourceBundle.exportRawData }}</a></li>
        </ul>

        <div ng-if="selectedService && currentTab == 'weeklyReport'" ng-include="'templates/reports/weekly.report.html'"></div>
        <div ng-if="selectedService && currentTab == 'monthlyReport'" ng-include="'templates/reports/monthly.report.html'"></div>
        <div ng-if="selectedService && currentTab == 'exportRawData'" ng-include="'templates/reports/export.raw.data.html'"></div>

    </section>
</div>