<div class="dataentrypage parent-margin report-container">
    <section class="panel tab-panel">
        <div class="row">
            <div class="col-md-12">
                <h4>{{ orgUnit.displayName }}</h4>
            </div>
        </div>
        <div class="row form-inline">
            <div class="col-md-4 form-group">
                {{ resourceBundle.selectServiceNameLabel }}&nbsp;
                <select id="selectDataset" class="form-control" ng-model="selectedDataset" ng-options="dataset as dataset.name for dataset in datasets"></select>
            </div>
        </div>
        <tabset>
            <tab heading="{{resourceBundle.weeklyReports}}" ng-click="resizeCharts()">
                <div ng-hide="selectedDataset.isReportsAvailable">
                    <h4 class="text-center">{{resourceBundle.noDataAvailable}}</h4>
                </div>
                <div ng-repeat="chart in chartData | filter: {definition: {dataSetCode: selectedDataset.code}} | orderBy: 'definition.displayPosition'" ng-if="chart.data.length &gt; 0">
                    <div>
                        <div class="row chart-title">
                            <h3 class="col-md-6 col-md-offset-3 text-center">{{chart.definition.title}}</h3>
                            <a class="col-md-1 col-md-offset-2" href="" title="Download Chart" ng-click="downloadChartAsPng($event)">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                        </div>
                        <!-- ToDo - Remove chart type non-capitalized after dhis 2.22 upgrade -->
                        <p ng-if="chart.definition.type === 'LINE' || chart.definition.type === 'line'" class="lineChart-container">
                            <nvd3 options="lineChartOptions" data="chart.data"></nvd3>
                        </p>
                        <p ng-if="chart.definition.type === 'COLUMN' || chart.definition.type === 'column'">
                            <nvd3 options="barChartOptions" data="chart.data"></nvd3>
                        </p>
                        <p ng-if="chart.definition.type === 'STACKED_COLUMN' || chart.definition.type === 'stackedcolumn'">
                            <nvd3 options="stackedBarChartOptions" data="chart.data"></nvd3>
                        </p>
                    </div>
                </div>
                <div>
                    <accordion is-open="true" close-others="false">
                        <accordion-group is-open="isReportOpen">
                            <accordion-heading>
                                <span>{{resourceBundle.tabularReports}}</span>
                                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isReportOpen, 'glyphicon-chevron-right': !isReportOpen}"></i>
                            </accordion-heading>
                            <div ng-show="!selectedDataset.isWeeklyPivotTablesAvailable">
                                <h4 class="text-center">{{resourceBundle.noDataAvailable}}</h4>
                            </div>
                            <div class="exp-coll-group" ng-if="selectedDataset.isWeeklyPivotTablesAvailable">
                                <div ng-if="table.definition.weeklyReport && table.isTableDataAvailable" ng-repeat="table in pivotTables | filter: {dataSetCode: selectedDataset.code} | orderBy: 'definition.displayPosition'" class="exportCSV-container">
                                    <accordion close-others="false">
                                        <accordion-group is-open="status.open">
                                            <accordion-heading>
                                                <span>{{ table.definition.title }}</span>
                                                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </accordion-heading>
                                            <div>
                                                <pivot-table definition="table.definition" data="table.data" resource-bundle="resourceBundle"></pivot-table>
                                            </div>
                                        </accordion-group>
                                    </accordion>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </tab>
            <tab heading="{{resourceBundle.monthlyReports}}">
                <div ng-show="!selectedDataset.isMonthlyPivotTablesAvailable">
                    <h4 class="text-center">{{resourceBundle.noDataAvailable}}</h4>
                </div>
                <div id="reports" class="margin-top" ng-if="selectedDataset.isMonthlyPivotTablesAvailable">
                    <accordion close-others="false">
                        <accordion-group is-open="isReportOpen">
                            <accordion-heading>
                                <span>{{resourceBundle.tabularReports}}</span>
                                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isReportOpen, 'glyphicon-chevron-right': !isReportOpen}"></i>
                            </accordion-heading>
                            <div class="exp-coll-group">
                                <div ng-if="table.definition.monthlyReport && table.isTableDataAvailable" ng-repeat="table in pivotTables | filter: {dataSetCode: selectedDataset.code} | orderBy: 'definition.displayPosition'" class="exportCSV-container">
                                    <accordion close-others="false">
                                        <accordion-group is-open="status.open">
                                            <accordion-heading>
                                                <span>{{ table.definition.title }}</span>
                                                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </accordion-heading>
                                            <div>
                                                <pivot-table definition="table.definition" data="table.data" resource-bundle="resourceBundle"></pivot-table>
                                            </div>
                                        </accordion-group>
                                    </accordion>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </tab>
        </tabset>
        <div class="loading" ng-show="loading">
            <img src="img/ajax-loader.gif" class="spinner" />
        </div>
    </section>
</div>