<div class="dataentrypage parent-margin">
    <section class="panel tab-panel">
        <div class="row">
            <div class="col-md-12">
                <h4>{{ orgUnit.displayName }}</h4>
            </div>
        </div>
        <div class="row form-inline">
            <div class="col-md-4 form-group">
                Select service name:
                <select id="selectDataset" class="form-control" ng-model="selectedDatasetId" ng-options="dataset.id as dataset.name for dataset in datasets"></select>
            </div>
        </div>
        <tabset>
            <tab heading="Weekly reports" ng-click="resizeCharts()">
                <div ng-show="!isReportsAvailable()">
                    <h4 class="text-center">{{resourceBundle.noDataAvailable}}</h4>
                </div>
                <div ng-repeat="chart in chartData | filter: {dataset:selectedDatasetId}" ng-if="chart.data.length &gt; 0">
                    <div>
                        <div class="row chart-title">
                            <h3 class="col-md-6 col-md-offset-3 text-center">{{chart.title}}</h3>
                            <a class="col-md-1 col-md-offset-2" href="" title="Download Chart" ng-click="downloadChartAsPng($event)">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                        </div>
                        <p ng-if="chart.type === 'line'">
                            <nvd3 options="lineChartOptions" data="chart.data"></nvd3>
                        </p>
                        <p ng-if="chart.type === 'column'">
                            <nvd3 options="barChartOptions" data="chart.data"></nvd3>
                        </p>
                        <p ng-if="chart.type === 'stackedcolumn'">
                            <nvd3 options="stackedBarChartOptions" data="chart.data"></nvd3>
                        </p>
                    </div>
                </div>
                <div ng-if="isReportsAvailable()">
                    <accordion is-open="true" close-others="false">
                        <accordion-group>
                            <accordion-heading>
                                <span>{{resourceBundle.tabularReports}}</span>
                                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </accordion-heading>
                            <div class="exp-coll-group">
                                <div ng-if="!isMonthlyReport(table.table) &amp;&amp; showTable(table.data)" ng-repeat="table in pivotTables | filter: {dataset:selectedDatasetId}">
                                    <accordion close-others="false">
                                        <accordion-group>
                                            <accordion-heading>
                                                <span>{{getTableName(table.table.name)}}</span>
                                                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </accordion-heading>
                                            <div>
                                                <pivot-table definition="table.table" data="table.data" export-button-name="resourceBundle.exportAsCsv"></pivot-table>
                                            </div>
                                        </accordion-group>
                                    </accordion>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </tab>
            <tab heading="Monthly reports">
                <div ng-show="!isReportsAvailable() || !isPivotTablesAvailable">
                    <h4 class="text-center">{{resourceBundle.noDataAvailable}}</h4>
                </div>
                <div class="margin-top" ng-if="isReportsAvailable()">
                    <accordion is-open="true" close-others="false">
                        <accordion-group>
                            <accordion-heading>
                                <span>{{resourceBundle.tabularReports}}</span>
                                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </accordion-heading>
                            <div class="exp-coll-group">
                                <div ng-if="isMonthlyReport(table.table) &amp;&amp; showTable(table.data)" ng-repeat="table in pivotTables | filter: {dataset:selectedDatasetId}">
                                    <accordion close-others="false">
                                        <accordion-group>
                                            <accordion-heading>
                                                <span>{{getTableName(table.table.name)}}</span>
                                                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </accordion-heading>
                                            <div>
                                                <pivot-table definition="table.table" data="table.data" export-button-name="resourceBundle.exportAsCsv"></pivot-table>
                                            </div>
                                        </accordion-group>
                                    </accordion>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </tab>
        </tabset>
        <div class="loading" ng-show="loading">
            <img src="img/ajax-loader.gif" class="spinner" />
        </div>
    </section>
</div>
