<div class="modal-header">
	<h4 ng-if="isUserToBeDisabled">{{resourceBundle.disableUserLabel}}</h4>
	<h4 ng-if="!isUserToBeDisabled">{{resourceBundle.enableUserLabel}}</h4>
</div>
<div class="modal-body">
	<p ng-if="isUserToBeDisabled">{{resourceBundle.userDisableConfMessage}}{{toggleStateUsername}}?</p>
	<p ng-if="!isUserToBeDisabled">{{resourceBundle.userEnableConfMessage}}{{toggleStateUsername}}?</p>
</div>
<div class="modal-footer">
	<button class="btn btn-main" ng-click="ok()">{{resourceBundle.yesLabel}}</button>
	<button class="btn" ng-click="cancel()">{{resourceBundle.cancelLabel}}</button>
</div>
